<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/header :: css">
    <title>资讯追加</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" action="#">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类别：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="parentSelect" class="select" id="parentSelect" onchange="addChildSelect()">
					<option value="0">-请选择-</option>
					<option th:each="types : ${typeslist}"
                         th:value="${types.id}" th:text="${types.name}">Credit card</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>子类别：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="childSelect" class="select" id="childSelect" onchange="javascript:changeForm();">
					<option value="0">-请选择-</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl" id="div_title">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span><span id="span_title">文章标题：</span></label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="title" name="title" />
			</div>
		</div>
		<div class="row cl" id="div_title2">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span><span id="span_title2">文章标题2：</span></label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="title2" name="title2" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>排序值：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="0" placeholder="" id="order_number" name="order_number" />
			</div>
		</div>
		<div class="row cl" id="div_summary">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span><span id="span_summary">文章摘要：</span></label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea id="summary" name="summary" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,200)"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<div class="row cl" id="div_content">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span><span id="span_content">文章内容：</span></label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="editContent" id="content"></textarea>
			</div>
		</div>
		<div class="row cl" id="div_articleimg">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span><span id="span_articleimg">图片上传：</span></label>
			<div class="formControls col-xs-8 col-sm-9">
				<img id="editImage2" name="editImage2" width="100" height="100">
			    <div id="filePicker"><input type="file" name="imgFile" id="imgFile2" onchange="uploadImage('imgFile2','editImage2');"></div>
			    <input type="hidden" name="articleimg" id="articleimg" />
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
<!-- 				<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button> -->
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<div th:replace="admin/footer :: footer"></div>

<!--请在下方写此页面业务相关的脚本-->
<script>
    var UEDITOR_HOME_URL = "/h-ui/lib/ueditor/1.4.3/";　　//ueditor位置
</script>
<script type="text/javascript" charset="utf-8" th:src="@{/h-ui/lib/kindeditor-4.1.7/kindeditor-min.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/h-ui/lib/kindeditor-4.1.7/lang/zh_CN.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/h-ui/lib/ajaxfileupload.js}"></script>
<script type="text/javascript">
	//富文本kindeditor初始化
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('#content', {
            cssPath :"@{/h-ui/lib/kindeditor-4.1.7/plugins/code/prettify.css}",
            uploadJson : '/upload/kindeditorimage',
            allowFileManager : true,
            allowUpload: true,
            width:"900px",
            height:"350px",
            afterBlur: function(){this.sync();}
        });
    });
</script>
 
<script type="text/javascript">

$(function(){
	
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	//表单验证
	$("#form-article-add").validate({
		rules:{
			parentSelect:{
				required:true,
				isNotDefaultOption:true,
			},
			childSelect:{
				required:true,
				isNotDefaultOption:true,
			},
			order_number:{
				required:true,
				maxlength: 5,
				number:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){

		}
	});
});

function article_save_submit(){

	if (! $("#form-article-add").valid()) {
        return;
    }

	var childtype =  $("#childSelect").find("option:selected").text();
	var childSelect = $("#childSelect option:selected").val();
	var title = $("#title").val();
	var title2 = $("#title2").val();
	var order_number = $("#order_number").val();
	var summary = $("#summary").val();
	var image_filename = $("#articleimg").val();
	
    var content = editor.html();
//     content = replaceAllHTML(content);
    $("#content").val(content);
    
	$.ajax({
		url : "/admin/article/doAddArticle",
		type : "POST",
		dataType:'json',
		data : {
			"type_id" : childSelect,
			"title" : title,
			"title2" : title2,
			"author" : "",
			"content" : content,
			"image_filename" : image_filename,
			"order_number" : order_number,
			"summary" : summary
		},
		success : function(data) {
			alert("资讯添加成功");
			var index = parent.layer.getFrameIndex(window.name);
			//parent.$('.btn-refresh').click();
			window.parent.location.reload();
			parent.layer.close(index);
		},
		error:function (XMLHttpRequest, textStatus, errorThrown) {
			alert("对不起，出现错误!");
            if(XMLHttpRequest.status == 403){
                layer_close();
                errorMessage('无权操作!');
            }else {
                errorMessage("系统错误!");
            }
        },
	});

}

/**
 * 上传图片
 * @param fileElementId
 * @param imageElementId
 */
function uploadImage(fileElementId, imageElementId) {
	var path = $("#" + fileElementId).val();
	
	if(path == "") {
		alert("请选择上传的图片");
		return;
	}
	if (!isImageFile(path)) {
		alert("请上传图片");
		return;
	}
	jQuery.ajaxFileUpload({
		url : "/upload/uploadimage",
		secureuri : false,
		fileElementId : fileElementId,
		dataType : 'text',
		success : function(data) {
			var data = eval('(' + data + ')'); 

			if (data.error > 0) {
				$("#" + imageElementId).attr("src", "");
				$("#articleimg").val("");
				
				alert(data.message);
				return;
			}
			$("#" + imageElementId).attr("src", data.dataurl);
			$("#articleimg").val(data.dataurl);
		},
		error:function (XMLHttpRequest, textStatus, errorThrown) {
			alert("上传图片失败!");
            if(XMLHttpRequest.status == 403){
                layer_close();
                errorMessage('无权操作!');
            }else {
                errorMessage("系统错误!");
            }
        },
	})
}


/**
 * 根据扩展名判断是否为图片
 */
function isImageFile(path) {

	if (path.length == 0) {
		return false;
	}
	var lowerPath = path.toLowerCase();
	var number = lowerPath.lastIndexOf(".");
	if(number == -1) 
		return false;
    var checkKey = lowerPath.substring(number+1,lowerPath.length);
   if(checkKey == "jpg" || checkKey =="jpeg"  || checkKey =="png" || checkKey == "gif" ) {
	    return true;
	}
	return false;
}

function addChildSelect(){
	var op = $("#parentSelect option:selected");
	var parentId = op.val();
	var data1 = {
			"parentId" : parentId
	};
	$.ajax({
		url : "/admin/article/childSelect",
		type : "POST",
		async : true,
		data : data1,
		success : function(data) {
			var arr=eval(data.childtypeslist);
			
			var childList="<option value='0' >-请选择-</option>";
			var length = arr.length;
			for(var i = 0; i < length; i ++){					
				childList = childList + "<option value='"+arr[i].id+"'>"+arr[i].name+"</option>";
			}
			$("#childSelect").html(childList);
		},
	error : function() {
		alert("添加失败!");
	}
	});
}

/*关闭上传框窗口后恢复上传框初始状态*/
function closeUploader() {  
    // 移除所有缩略图并将上传文件移出上传序列
    for (var i = 0; i < uploader.getFiles().length; i++) {
        // 将图片从上传序列移除
        uploader.removeFile(uploader.getFiles()[i]);
        //uploader.removeFile(uploader.getFiles()[i], true);
        //delete uploader.getFiles()[i];
        // 将图片从缩略图容器移除
        var $li = $('#' + uploader.getFiles()[i].id);
        $li.off().remove();
    }
     
    setState('pedding');
     
    // 重置文件总个数和总大小
    fileCount = 0;
    fileSize = 0;
    // 重置uploader，目前只重置了文件队列
    uploader.reset();
    // 更新状态等，重新计算文件总个数和总大小
    updateStatus();
}

function removeIframe(){
	var index = parent.layer.getFrameIndex(window.name);
	parent.layer.close(index);
}

function changeForm(){
	var parent = $("#parentSelect").find("option:selected").text();
	var child = $("#childSelect").find("option:selected").text();
	
	remove_all_validate();
	
	if(child=="首页轮播图" || child=="发现页面轮播图"){
		$("#div_title").show();
		$("#span_title").html("轮播图标题：");
		$("#div_title2").show();
		$("#span_title2").html("轮播图URL：");
		$("#div_articleimg").show();
		$("#span_articleimg").html("轮播图图片：");
		$("#div_summary").hide();
		$("#div_content").hide();
		
		//validate
	    $("#title").rules("add",{required:true,messages:{min:"请输入标题"}});
	    $("#title2").rules("add",{required:true,messages:{min:"请输入标题"}});
	    $("#articleimg").rules("add",{required:true,messages:{min:"请输入图片"}});  
	    
	}else if(child=="故事" || child=="新闻" || child=="活动" ){
		$("#div_title").show();
		$("#span_title").html("标题：");
		$("#div_title2").hide();
		$("#div_summary").show();
		$("#span_summary").html("简介：");
		$("#div_articleimg").show();
		$("#span_articleimg").html("图片：");
		$("#div_content").show();
		$("#span_content").html("详细内容：");
		
		//validate
	    $("#title").rules("add",{required:true,messages:{min:"请输入标题"}});  
	    $("#summary").rules("add",{required:true,messages:{min:"请输入简介"}});  
	    $("#articleimg").rules("add",{required:true,messages:{min:"请输入图片"}});  
	    $("#content").rules("add",{required:true,messages:{min:"请输入内容"}});  
	}else if(child=="消息"){
		$("#div_title").show();
		$("#span_title").html("标题：");
		$("#div_title2").hide();
		$("#div_summary").show();
		$("#span_summary").html("简介：");
		$("#div_articleimg").show();
		$("#span_articleimg").html("图片：");
		$("#div_content").show();
		$("#span_content").html("详细内容：");
		
		//validate
	    $("#title").rules("add",{required:true,messages:{min:"请输入标题"}});  
	    $("#summary").rules("add",{required:true,messages:{min:"请输入简介"}});  
	    $("#articleimg").rules("add",{required:true,messages:{min:"请输入图片"}});  
	    $("#content").rules("add",{required:true,messages:{min:"请输入内容"}});  
	}else {
		remove_article_validate();
		$("#div_title").hide();
		$("#div_title2").hide();
		$("#div_summary").hide();
		$("#div_content").hide();
		$("#div_articleimg").hide();
	}
}

var remove_all_validate=function(){  
    $("#title").rules("remove");
    $("#title2").rules("remove");  
    $("#summary").rules("remove");  
    $("#content").rules("remove");  
    $("#articleimg").rules("remove");  
}  
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>