<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>后台登录</title>
  <meta charset="utf-8"/>
  <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--<meta name="keywords" content="H-ui.admin v2.4,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载"/>-->
  <!--<meta name="description" content="H-ui.admin v2.4，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。"/>-->
  <!--<LINK rel="Bookmark" th:href="/favicon.ico" />-->
  <!--<LINK rel="Shortcut Icon" th:href="/favicon.ico" />-->
  <link rel="stylesheet" type="text/css" th:href="@{/h-ui/static/h-ui/css/H-ui.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/h-ui/static/h-ui.admin/css/style.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/h-ui/static/h-ui.admin/css/H-ui.login.css}" />
</head>

<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal" action="index.html" method="post" th:action="@{/admin/login}">
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input th:name="username" type="text" placeholder="账户" class="input-text size-L" />
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3">
          <i class="Hui-iconfont">&#xe60e;</i>
        </label>
        <div class="formControls col-xs-8">
          <input th:name="password" type="password" placeholder="密码" class="input-text size-L" />
        </div>
      </div>
      <!--<div class="row cl">-->
        <!--<div class="formControls col-xs-8 col-xs-offset-3">-->
          <!--<input class="input-text size-L" type="text" placeholder="验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;">-->
          <!--<img src="images/VerifyCode.aspx.png"> <a id="kanbuq" href="javascript:;">看不清，换一张</a> </div>-->
      <!--</div>-->
      <!--<div class="row cl">-->
        <!--<div class="formControls col-xs-8 col-xs-offset-3">-->
          <!--<label for="online">-->
            <!--<input type="checkbox" name="online" id="online" value="">-->
            <!--使我保持登录状态</label>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input type="button" class="btn btn-success radius size-L btnSubmit" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;" th:onclick="'javascript:onLine(\'/admin/login\');'"/>
          <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;"/>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright 你的公司名称 by H-ui.admin.v3.0</div>

<script type="text/javascript" th:src="@{/h-ui/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/static/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/layerUtil.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script th:inline="javascript">

    if(self != top) {
      top.location = self.location;
    }

    function onLine(url) {
      var usernameObj = $("input[name = 'username']");
      var passwordObj = $("input[name = 'password']");
      $.ajax({
        type:"POST",
        dataType:"json",
        url: url,
        data:{
          "username": usernameObj.val(),
          "password": passwordObj.val(),
          "timestamp":new Date().getTime()
        },
        statusCode: {
          200: function(){
            smileMessage("登录成功!");
            window.location.href = "/admin/index";
          },
          404: function(){
            sadMessage('用户不存在!');
          },
          401: function () {
            sadMessage('用户或密码错误!');
          },
          403: function () {
            sadMessage('用户或密码错误!');
          },
          405: function () {
            sadMessage('账户已锁定!');
          },
          408: function () {
            sadMessage('错误次数过多!');
          },
          500: function(){
            errorMessage('系统错误!');
          }
        },
        beforeSend:function () {
           if(usernameObj.val() == ""){
              warningMessage("请输入用户名!");
              usernameObj.focus();
              return false;
           }
           if(passwordObj.val() == ""){
             warningMessage("请输入密码!");
             passwordObj.focus();
             return false;
           }
        }
      });
    }

    $("body").keydown(function() {
      if (event.keyCode == "13") {//keyCode=13是回车键
        $('.btnSubmit').trigger("click");
      }
    });
</script>
</body>
</html>