<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/common/common}">
<head>

</head>

<body layout:fragment="content">
    <article class="page-container">
        <form class="form form-horizontal" id="form-password">
            <input type="hidden" name="tokenForm" th:value="${#session.getAttribute('tokenForm')}" />
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>原始密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text"  placeholder="" id="oldPassword" name="oldPassword" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text"  placeholder="" id="newPassword" name="newPassword" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text"  placeholder="" id="password2" name="password2"/>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </article>

    <script type="text/javascript" th:src="@{/js/admin/password.js}"></script>
</body>
</html>