<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/header :: css">
<title>项目列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 项目管理 <span class="c-gray en">&gt;</span> 项目列表 <span class="c-gray en">&gt;</span> 项目里程碑<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<form action="" th:action="@{/admin/project/projectMilepostList}"   th:method="post">
<div class="page-container">
	<div class="cl pd-5 mt-20"> 
		<span class="l"> 
			<a href="javascript:;" th:onClick="'javascript:project_detail(\'项目详情\',\'/admin/project/lookProjectDetail/'+${projectId}+'\',\'1000\',\'600\');'" class="btn btn-primary radius">项目详情</a>
		</span>	
		<span class="r">共有数据：<strong  th:text="${pageInfo.total}">54</strong> 条</span> 
	</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="7">项目里程碑列表</th>
			</tr>
			<tr class="text-c">
				<th width="40">项目编号</th>
				<th width="40">项目名称</th>
				<th width=90>里程碑标题</th>
				<th width="90">创建时间</th>
				<th width="90">图片组</th>
				<th width="150">内容介绍</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>		
			<tr class="text-c" th:each="projectMilepost : ${pageInfo.list}" >
				<td th:text="${projectMilepost.projectNumber}">项目编号</td>
				<td th:text="${projectMilepost.projectName}">项目名称</td>
				<td th:text="${projectMilepost.title}">里程碑标题</td>	
				<td th:text="${#dates.format(projectMilepost.createTime, 'yyyy/MM/dd')}">创建时间</td>
				<td>
					<a href="javascript:;" th:onClick="'javascript:picture_show(\'图片组\',\'/admin/project/lookMilepostImg/'+${projectMilepost.id}+'\');'">
						<img width="210" class="picture-thumb"  th:if="${not #lists.isEmpty(projectMilepost.img)}"   th:src="${projectMilepost.img}">
					</a>
				</td>			
				<td th:text="${projectMilepost.contents}">内容</td>	
				<td class="td-manage">
				<a title="删除" href="javascript:;"  class="ml-5" style="text-decoration:none"  th:onclick="'javascript:delete_milepost(this,'+${projectMilepost.id}+');'">
				<i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div th:replace="admin/page :: page"></div>
</div>
<input type="hidden" id="projectId" name="projectId" th:value="${projectId}"/>
</form>
<div th:replace="admin/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/page.js}"></script>
<script type="text/javascript">
/*图片-查看*/
function picture_show(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
//查看项目详情
function project_detail(title,url,w,h){
	layer_show(title,url,w,h);
}
/*删除*/
function delete_milepost(obj,id){
	layer.confirm('确认要删除吗(删除后数据无法恢复)？',function(index){
		$.ajax({
			type: 'POST',
			url: '/admin/project/projectDeleteMilepost/'+id,
			dataType: 'json',
			success: function(data){
				if(data.status=='success'){					
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
					location.reload();
				}else{
					layer.msg('删除失败',{icon:5,time:1000});
				}
			},
			error:function (XMLHttpRequest, textStatus, errorThrown) {
                if(XMLHttpRequest.status == 403){
                    layer_close();
                    errorMessage('无权操作!');
                }else {
                    errorMessage("系统错误!");
                }
            }
		});		
	});
}
</script>
</body>
</html>