<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/header :: css">
<title>项目列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 项目管理 <span class="c-gray en">&gt;</span> 项目列表 <span class="c-gray en">&gt;</span>会员评论<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<form action="" th:action="@{/admin/comment/userCommentList}"   th:method="post">
<div class="page-container">
	<div class="cl pd-5 mt-20">
		<span class="l"> 
			<a href="javascript:;" th:onClick="'javascript:project_detail(\'项目详情\',\'/admin/project/lookProjectDetail/'+${projectId}+'\',\'1000\',\'600\');'" class="btn btn-primary radius">项目详情</a>
		</span>	
		<span class="r">共有数据：<strong  th:text="${pageInfo.total}">54</strong> 条</span> 
	</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="13">评论列表</th>
			</tr>
			<tr class="text-c">
				<th width="60">项目编号</th>
				<th width="90">项目名称</th>
				<th width="90">会员id</th>
				<th width="100">会员名称</th>
				<th width="100">评论内容</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>		
			<tr class="text-c" th:each="userComment : ${pageInfo.list}">
				<td th:text="${userComment.projectNumber}">项目编号</td>
				<td th:text="${userComment.projectName}">项目名称</td>
				<td th:text="${userComment.userId}">会员id</td>
				<td th:text="${userComment.username}">会员名称</td>
				<td th:text="${userComment.contents}">评论内容</td>											
				<td class="td-manage">					
				<a title="删除" href="javascript:;" th:onClick="'javascript:expert_user_comment_delete(this,'+${userComment.id}+');'" class="ml-5" style="text-decoration:none">
				<i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div th:replace="admin/page :: page"></div>
</div>
<input type="hidden" id="projectId" name="projectId" th:value="${projectId}"/>
</form>
<div th:replace="admin/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/page.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/project/project-user-list.js}"></script>
</body>
</html>