<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/header :: css">
<title>项目列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 项目管理 <span class="c-gray en">&gt;</span> 项目列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<form action=""  th:action="@{/admin/project/projectList}" th:method="post">
<div class="page-container">
	<div class="text-c"> 创建日期范围：
            <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;" name="startTime" th:value="${startTime}" readonly="readonly"/>
            -
            <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;" name="endTime" th:value="${endTime}" readonly="readonly"/>
           <input type="text" class="input-text" style="width:100px" placeholder="项目名称" id="projectName" name="projectName"  th:value="${projectName}" maxlength="20"/>
           <input type="text" class="input-text" style="width:100px" placeholder="账户名" id="userName" name="userName"  th:value="${userName}" maxlength="20"/>
           <input type="text" class="input-text" style="width:100px" placeholder="机构/个人姓名" id="authenticationName" name="authenticationName"  th:value="${authenticationName}" maxlength="20"/>
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜项目</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l">
		</span> 
		<span class="r">共有数据：<strong  th:text="${pageInfo.total}">54</strong> 条</span> 
	</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="16">项目列表</th>
			</tr>
			<tr class="text-c">
				<th width="20">ID</th>
				<th width="40">项目编号</th>
				<th width="40">项目名称</th>
				<th width="40">项目类型</th>
				<th width="80">账户名称</th>
				<th width="80">机构/个人姓名</th>
				<th width="80">项目需求资金(元)</th>
				<th width="70">已募集资金(元)</th>
				<th width="70">已提现资金(元)</th>			
				<th width="40">创建时间</th>
				<th width="40">项目状态</th>
				<th width="40">项目分类</th>
				<th width="40">项目PEI</th>
				<th width="40">项目里程碑</th>
				<th width="40">是否已启用</th>
				<th width="150">操作</th>
			</tr>
		</thead>
		<tbody>		
			<tr class="text-c" th:each="project : ${pageInfo.list}" >
				<td th:text="${project.id}">ID</td>
				<td th:text="${project.projectNumber}">项目编号</td>
				<td th:text="${project.projectName}">项目名称</td>
				<td th:if="${project.projectType==1}" th:text="个人项目">项目类型</td>
				<td th:if="${project.projectType==2}" th:text="企业项目">项目类型</td>
				<td th:text="${project.userName}">账户名称</td>
				<td th:text="${project.authenticationName}">机构/个人姓名</td>
				<td th:text="${project.projectCapital}/100">项目资金</td>
				<td class="td-manage">  
<!-- 				<td th:text="${project.raisedFunds}/100">项目已筹资金</td> -->
					<a style="text-decoration:none" th:onClick="'javascript:paystream_list(\'项目已筹资金\',\'/admin/paystream/list/\','+${project.id}+');'" 
					title="项目已筹资金" th:text="${project.raisedFunds}/100">项目已筹资金</a> 
				</td>
				<td class="td-manage">  
<!-- 				<td th:text="${project.cashWithdrawal}/100">项目已提现资金</td> -->
					<a style="text-decoration:none" th:onClick="'javascript:paystream_list(\'项目已提现资金\',\'/admin/withdraw/list/\','+${project.id}+');'" 
					title="项目已提现资金" th:text="${project.cashWithdrawal}/100">项目已提现资金</a> 
				</td>
				
				
				
				<td th:text="${#dates.format(project.createTime, 'yyyy/MM/dd')}">创建时间</td>
				<td th:if="${project.status==0}" th:text="未审核"  style="color: red">项目状态</td>
				<td th:if="${project.status==1}" th:text="审核失败">项目状态</td>
				<td th:if="${project.status==2}" th:text="审核成功" style="color:green">项目状态</td>
				<td th:if="${project.status==3}" th:text="终止项目">项目状态</td>													
				<th:block  th:each="industry:${industryList}">					
				 	<td th:if="${project.industryId==industry.id}" th:text="${industry.industryName}">行业信息</td>			
				</th:block>					
				<td th:if="${project.isScore==0}" class="td-manage">
					<a style="text-decoration:none" th:onClick="'javascript:project_score(\'项目打分页面\',\'/admin/project/projectScoreCheck/'+${project.id}+'\');'"  title="去打分"><span style="color: red">未打分</span></a> 				
				</td>
				<td th:if="${project.isScore==1}" th:text="${project.score}">项目PEI</td>			
				<td class="td-manage">  <!-- 里程碑 -->
				<a style="text-decoration:none" th:onClick="'javascript:project_expert(\'里程碑列表\',\'/admin/project/projectMilepostList/\','+${project.id}+');'" href="javascript:;" title="查看里程碑"><span style="color:green">查看</span></a> 
				</td>									
				<td class="td-status">
					<span th:if="${project.adminStatus==0}" class="label radius label-success">已启用</span>
					<span th:if="${project.adminStatus==1}" class="label radius">已停用</span>
				</td>
				<td class="td-manage">			
				<a th:if="${project.adminStatus==1}"  style="text-decoration:none" th:onClick="'javascript:project_status(this, '+${project.id}+','+${project.adminStatus}+');'" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a> 
				<a th:if="${project.adminStatus==0}" style="text-decoration:none" th:onClick="'javascript:project_status(this, '+${project.id}+','+${project.adminStatus}+');'" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
				<a style="text-decoration:none" th:onClick="'javascript:project_edit(\'项目审核\',\'/admin/project/checkProject/'+${project.id}+'\','+${project.status}+');'" href="javascript:;" title="审核项目">审核</a> 				
				<a style="text-decoration:none" th:onClick="'javascript:project_expert(\'专家评论\',\'/admin/comment/listExpertComment/\','+${project.id}+');'" href="javascript:;" title="专家评论">专家评论</a> 	
				<a style="text-decoration:none" th:onClick="'javascript:project_expert(\'会员评论\',\'/admin/comment/userCommentList/\','+${project.id}+');'" href="javascript:;" title="会员评论">会员评论</a> 	
				<a style="text-decoration:none"  th:if="${project.isScore==0}"   th:onClick="'javascript:project_score(\'项目打分页面\',\'/admin/project/projectScoreCheck/'+${project.id}+'\');'" href="javascript:;" title="项目打分">项目打分</a> 	
				<a style="text-decoration:none"  th:if="${project.isScore==1}"   th:onClick="'javascript:project_score(\'项目打分页面\',\'/admin/project/projectScoreCheck/'+${project.id}+'\');'" href="javascript:;" title="项目打分">重新打分</a> 	
				<a title="编辑项目" href="javascript:;" th:onClick="'javascript:project_edit2(\'项目编辑\',\'/admin/project/checkProject/edit/'+${project.id}+'\','+${project.status}+');'" class="ml-5" style="text-decoration:none">
				<i class="Hui-iconfont">&#xe6df;</i></a> 
				<a title="删除" href="javascript:;" th:onClick="'javascript:project_del(this,'+${project.id}+');'" class="ml-5" style="text-decoration:none">
				<i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div th:replace="admin/page :: page"></div>
</div>
</form>
<script type="text/javascript" th:src="@{/js/admin/project/project-list.js}"></script>
<div th:replace="admin/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/page.js}"></script>
<script type="text/javascript">
function paystream_list(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url+"?findproject="+id
	});
	layer.full(index);
}


</script>
</body>
</html>