/**
* the style of goodProject
* author:maii
* at: 2017-02-17
*/

/*common*/
body,html{
	background: #f2f4f6;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.container{
	width: 1200px;
	margin: auto;
	// border-left: 1px solid red;
	// border-right: 1px solid red;
}
h1{
	margin: 0;
	padding: 0;
}
.pl{
	float: left;
}
.pr{
	float: right;
}
a{
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}
img{
	border:none;
}
input[type="file"]{
	display: none;
}
/*header*/
.header_color{
	color: #292929!important;
}
.header_font_size{
	font-size: 14px!important;
}
.header{
	background: #fff;
}
.header_shadow{
	box-shadow: 0 5px 15px #ccc;
	position: relative;
	z-index: 100;
	// box-shadow: 0 13px 20px -13px #999999;
}
.header .container{
	height: 80px;
	line-height: 80px;
}
.logo{
	margin-top: 11px;
	height: 57px;
}
.logo img{
	width: 170px;
	height: 57px;
}
.nav{
	margin-left: 80px;
}
.nav a{
	float: left;
	margin: 0 13px;
	height: 77px;
}
.nav a:hover{
	border-bottom: 3px solid #2bde73;
}
.nav a.active{
	border-bottom: 3px solid #2bde73;
}
.login_and_reg{
	width: 122px;
	text-align: right;
}
.is_login{
	width: 122px;
	position: relative;
}
.is_login img{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	overflow: hidden;
	margin: 28px 8px 0 0;
}
.is_login p{
	width: 90px;
	color: #292929;
	cursor: pointer;
	font-size: 14px;
	background: url('../front-img/icon_home_down_arrow.png') no-repeat 70px center;
}
.is_login div{
	width: 80px;
	height: 70px;
	line-height: 35px;
	text-indent: 12px;
	color: #292929;
	font-size: 14px;
	background: #fff;
	box-shadow: 0 0 5px #ccc;
	position: absolute;
	top: 55px;
	right: 10px;
	display: none;
	z-index: 10000;
}
.is_login div a{
	text-indent: 12px;
	display: block;
}
.login_and_reg a{
	// float: left;
	margin-left: 16px;
}
.header .search{
	background: url('../front-img/icon_search.png') no-repeat 14px 9px;
	background-size: 12px 15px;
	width: auto;
	padding-left: 20px;
	height: 32px;
	border: 1px solid transparent;
	border-radius: 2px;
	margin-top: 23px;
	margin-right: 10px;
	line-height: 32px;
	background-color: transparent;
	border-color: transparent;
}
.header .search_active{
	padding-left: 0;
	width: 238px;
	border-color: #d4d4d4;
	background-color: #fff;
}
.header .search_active button{
	border-color: #d4d4d4!important;
	color: #292929!important;
}
.header .search button{
	background: transparent;
	border: none;
	line-height: 32px;
	width: 58px;
	height: 32px;
	border-left: 1px solid transparent;
	outline: none;
	color: #2bde73;
}
.header .search_active input{
	display: block!important;
}
.header .search input{
	height: 18px;
	line-height: 18px;
	width: 143px;
	border:none;
	// border-left: 1px solid #333;
	margin-top: 6px;
	outline: none;
	// text-indent: 1em;
	display: none;
}
/*footer*/
.footer{

}
.footer .f_t{
	background: #454545;
}
.footer .f_height{
	height: 170px;
}
.footer .copyright{
	background: #373737;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #979595;
}
.f_logo{
	margin-top: 55px;
}
.f_center{
	margin-left: 222px;
	margin-top: 40px;
	color: #fffefe;
}
.f_c_1{
	margin-bottom: 20px;
}
.f_c_1 a,
.f_c_1 span{
	float: left;
	font-size: 14px;
	line-height: 14px;
	margin-right: 9px;
}
.f_c_2,.f_c_3{
	overflow: hidden;
}
.f_c_2 span,
.f_c_3 span{
	float: left;
	line-height: 24px;
	font-size: 14px;
	color: #979595;
}
.w185{
	width: 185px;
}
.footer .code{
	margin-top: 40px;
	width: 100px;
	height: 100px;
}
.banner{
	height: 600px;
	position: relative;
}
.banner s{
	position: absolute;
	width: 41px;
	height: 78px;
	top: 50%;
	margin-top: -39px;
	z-index: 1000;
	cursor: pointer;
	display: none;
}
.banner s.banner_prev{
	left: 50px;
	background: url('../front-img/banner_prev.png') no-repeat center;
}
.banner s.banner_next{
	right: 50px;
	background: url('../front-img/banner_next.png') no-repeat center;
}
.banner span.active{
	background: #fff!important;
}
/*首页主题样式*/
.home_title{
	font-size: 30px;
	color: #313131;
}
.main_body .f1{
	padding-top: 60px;
}
.main_body .f1 .tab{
	margin-top: 20px;
}
.main_body .f1 .tab_l{
	width: 1030px;
}
.main_body .f1 .tab_r{
	width: 153px;
	height: 500px;
	padding-left: 14px;
	border-left: 1px dotted #2bde73;
}
.main_body .f1 li{
	float: left;
	margin-right: 13px;
}
.project{
	width: 330px;
	height: 500px;
	border-radius: 3px;
	background: #fff;
	position: relative;
	overflow: hidden;
}
.project img{
	display: block;
	width: 330px;
	height: 250px;
}
.project:hover{
	box-shadow: 0 0 15px #ccc;
}
.project .font{
	padding: 15px 24px 0;
}
.project .font h4{
	color: #313131;
}
.project .font .des{
	color: #747474;
	font-size: 12px;
	line-height: 18px;
	height: 72px;
	margin-top: 12px;
}
.project .font .from{
	color: #313131;
	font-size: 14px;
	height: 14px;
	margin-top: 22px;
	padding-bottom: 8px;
	border-bottom: 1px solid #d1d1d1;
}
.project .font .count{
	color: #747474;
	font-size: 12px;
	padding-bottom: 8px;
	border-bottom: 1px solid #d1d1d1;
	margin-top: 10px;
}
.project .font .count em{
	font-size: 24px;
	color: #2bde73;
	font-style: italic;
	font-weight: 600;
	margin: 5px;
}
.project .font .count s{
	font-size: 14px;
	color: #2bde73;
	font-style: italic;
	text-decoration: none;
}
.project .font .info{
	font-size: 12px;
	color: #747474;
	position: relative;
}
.project .font .face{
	position: absolute;
	top: 10px;
	left: 120px;
}
.project .font .face:before{
	content: '';
	float: left;
	margin-right: 3px;
	width: 15px;
	height: 15px;
	background: url('../front-img/icon_biaoqian.png') no-repeat;
}
.project .font .address{
	position: absolute;
	top: 10px;
	right: 0;
}
.project .font .address:before{
	content: '';
	float: left;
	margin-right: 3px;
	width: 12px;
	height: 16px;
	background: url('../front-img/icon_address.png') no-repeat;
}
.project .tip{
	position: absolute;
	top: 0;
	right: 0;
	background: url("../front-img/rt.png") no-repeat;
	color: #fff;
	font-size: 20px;
	width: 86px;
	height: 77px;
}
.project .tip p{
	-webkit-transform: rotate(43deg);
	   -moz-transform: rotate(43deg);
	    -ms-transform: rotate(43deg);
	     -o-transform: rotate(43deg);
	        transform: rotate(43deg);
	 position: absolute;
	 top: 17px;
	 right: 0;
}
.main_body .tab_r span{
	display: block;
	color: #313131;
	font-size: 18px;
	text-decoration: underline;
	margin-bottom: 24px;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}
.main_body .tab_r span.active,
.main_body .tab_r span:hover
{
	color: #2bde73;
}

.main_body .tab_r span.active:before,
.main_body .tab_r span:hover::before
{
	content: '';
	position: absolute;
	width: 6px;
	height: 20px;
	background: #2bde73;
	top: 0;
	left: -17px;
}
.main_body .f1 .more{
	margin: 10px 15px 0 0;
	width: 68px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
	color: #313131;
	border-radius: 3px;
	border: 1px solid #b3b4b5;
}
.f2{
	padding-top: 60px;
	color: #313131;
}
.f2_item{
	margin-top: 20px;
	height: 500px;
	border-radius: 5px;
	overflow: hidden;
}
.f2_item:hover{
	box-shadow: 0 0 15px #ccc;
}
.f2_item div.pl{
	width: 430px;
	height: 500px;
	background: #fff;
	position: relative;
}
.f2_item div.pr{
	width: 770px;
}
.f2_item .pr img{
	display: block;
	width: 770px;
	height: 500px;
}
.f2 .p_box{
	padding: 65px 42px 0 27px;
}
.f2 h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 23px;
}
.f2 .des{
	color: #747474;
	font-size: 12px;
	line-height: 18px;
	height: 180px;
}
.f2 .from{
	font-size: 14px;
}
.f2 .count{
	margin-top: 20px;
}
.f2 .count span{
	float: left;
	width: 50%;
	font-size: 12px;
	color: #747474;
}
.f2 .count em{
	font-size: 24px;
	color: #2bde73;
	font-style: italic;
	font-weight: 600;
	margin: 5px;
}
 .f2 .count s{
	font-size: 14px;
	color: #2bde73;
	font-style: italic;
	text-decoration: none;
}
.f2 .info{
	height: 16px;
	margin-top: 90px;
}
.f2 .info span{
	float: left;
	width: 50%;
	font-size: 12px;
	color: #747474;
}

.f2 .face:before{
	content: '';
	float: left;
	margin-right: 3px;
	margin-top: 1px;
	width: 15px;
	height: 15px;
	background: url('../front-img/icon_biaoqian.png') no-repeat;
}
.f2 .address:before{
	content: '';
	float: left;
	margin-top: 1px;
	margin-right: 3px;
	width: 12px;
	height: 16px;
	background: url('../front-img/icon_address.png') no-repeat;
}
.f2 .tip{
	position: absolute;
	top: 0;
	right: 0;
	background: url("../front-img/rt.png") no-repeat;
	color: #fff;
	font-size: 20px;
	width: 86px;
	height: 77px;
}
.f2 .tip p{
	-webkit-transform: rotate(43deg);
	   -moz-transform: rotate(43deg);
	    -ms-transform: rotate(43deg);
	     -o-transform: rotate(43deg);
	        transform: rotate(43deg);
	 position: absolute;
	 top: 17px;
	 right: 0;
}
.f3{
	padding-top: 60px;
}
.f3_slide{
	margin-top: 20px;
	text-align: center;
	color: #313131;
	position: relative;
}
.f3_slide .ov_box{
	overflow: hidden;
	height: 460px;
	padding: 20px 0;
}
.f3_slide ul{
	position: relative;
	top: 0;
}
.f3_slide ul li{
	width: 350px;
	height: 460px;
	background: #fff;
	border-radius: 4px;
	float: left;
	position: relative;
}
.f3_slide ul li:hover{
	box-shadow: 0 0 15px #ccc;
}
.f3_slide ul li div{
	height: 180px;
	overflow: hidden;
	position: relative;
}
.f3_slide ul li div img{
	width: 600px;
	float: right;
	margin-top: -100px;
	margin-right: -80px;
}
.f3_slide .f3_mask{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
}
.f3 .head_img{
	width: 180px;
	height: 180px;
	border: 10px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	position: absolute;
	top: 75px;
	left: 72px;
	box-shadow: 0 0 15px #ccc;
}
.f3 .f3_slide h4{
	font-size: 24px;
	margin-top: 132px;
}
.f3 .f3_slide .des{
	font-size: 12px;
	line-height: 22px;
	width: 220px;
	margin: auto;
	height: auto;
}
.f3 .f3_slide .line{
	width: 30px;
	height: 3px;
	background: #2bde73;
	margin: 15px auto 20px;
}
.f3 ul li:nth-child(3n-1){
	margin: 0 75px;
}
.f3 .btn{
	width: 44px;
	height: 84px;
	position: absolute;
	top: 50%;
	margin-top: -22px;
	cursor: pointer;
}
.f3 .prev{
	left: -100px;
	background: url('../front-img/icon_prev.png') no-repeat;
}
.f3 .next{
	right: -100px;
	background: url('../front-img/icon_next.png') no-repeat;
}
.f4{
	padding-top: 40px;
}
.f4_box{
	margin-top: 20px;
}
.f4_box img{
	float: left;
	width: 220px;
	height: 150px;
	margin: 0 25px 25px 0;
	background: #fff;
}
.f4_box a:nth-child(5n) img{
	margin-right: 0!important;
}
.home_alert{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.home_alert .alert_box{
	position: absolute;
	top: 50%;
	margin-top: -158px;
	margin-left: -200px;
	left: 50%;
	width: 400px;
	height: 316px;
	background: #fff;
	border-radius: 2px;
}
.home_alert .padding{
	padding: 30px 20px;
}
.home_alert h3{
	font-size: 26px;
	color: #333333;
	margin-bottom: 42px;
}
.home_alert .alert_group{
	color: #666;
	line-height: 28px;
	margin-bottom: 8px;
}
.home_alert .alert_group img{
	margin: 4px 16px;
}
.home_alert .alert_group a{
	width: 60px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: #2bde73;
	border-radius: 2px;
}
.home_alert .alert_group p{
	height: 28px;
}
.home_alert .alert_group p:before{
	content: '';
	float: left;
	width: 18px;
	height: 28px;
	background: url('../front-img/icon_home_alert_before.png') no-repeat left center;
}
.home_alert .alert_b{
	text-align: center;
	color: #333;
	font-size: 14px;
	margin-top: 38px;
}
.home_alert .alert_b a{
	color: #3b99fc;
}
/*搜索页*/
.search_main{
	padding-bottom: 58px;
}
.search_sort{
	height: 44px;
	background: #fff;
	padding: 43px 0 21px;
}
.search_sort label{
	margin-right: 58px;
}
.search_sort label span{
	font-size: 18px;
	line-height: 44px;
	color: #777;
	margin-right: 12px;
	float: left;
}
.search_sort label select{
	height: 42px;
	border: 1px solid #dad7d4;
	border-radius: 3px;
	text-indent: 1em;
	float: left;
}
.search_sort label.sort_order select{
	width: 76px;
}
.search_sort label.sort_address select{
	width: 140px;
}
.search_sort label.sort_industry select{
	// width: 87px;
	width: 150px;
}
.search_sort .keywords{
	height: 44px;
}
.search_sort .keywords span{
	color: #777;
	line-height: 44px;
	margin-right: 12px;
}
.search_sort .keywords p{
	color: #1a1a1a;
	border: 1px solid #dad7d4;
	line-height: 42px;
	border-radius: 3px;
	padding: 0 35px 0 11px;
	position: relative;
}
.search_sort .keywords p em{
	position: absolute;
	width: 11px;
	height: 12px;
	right: 11px;
	top: 15px;
	cursor: pointer;
	background: url('../front-img/icon_search_sort_close.png') no-repeat center;
}
.search_result{
	padding: 64px 0 15px;
}
.search_result .all{
	font-size: 24px;
	color: #313131;
}
.search_result .all span{
	color: #2bde73;
	margin: 0 8px;
}
.search_result .all em{
	color: #2bde73;
}
.search_result ul{
	padding: 20px 0 0 52px;
}
.search_result ul li{
	float: left;
	margin: 0 52px 45px 0;
}
.page_num{
	height: 38px;
	text-align: center;
	// min-width: 1200px;
}
.page_num .page_center{
	display: inline-block;
	overflow: hidden;
}
.page_num .page_center span{
	float: left;
	width: 46px;
	height: 36px;
	background: transparent;
	border: 1px solid #d4d4d4;
	line-height: 36px;
	color: #444;
	margin: 0 10px;
	cursor: pointer;
}
.page_num .page_center span.active{
	background: #2bde73;
	border: 1px solid #2bde73;
	color: #fff;
}
.page_num .page_center span.next{
	width: 78px;
}
/*发现*/
.find_body{
	padding: 60px 0 100px;
}
.find_l{
	width: 836px;
}
.first_find{
	width: 836px;
	height: 437px;
	position: relative;
	margin-bottom: 50px;
	overflow: hidden;
}
.first_find img{
	width: 836px;
	height: 437px;
	display: block;
}
.first_find p{
	position: absolute;
	font-size: 20px;
	height: 131px;
	line-height: 200px;
	background: url('../front-img/find_back.png');
	background-size: 100% 100%;
	left: 0;
	bottom: 0;
	color: #fff;
	text-indent: 30px;
	width: 100%;
}
.first_find .pagination{
	position: absolute;
	bottom: 20px!important;
	right: 0;
	z-index: 100;
	text-align: right;
}
.first_find .pagination span{
	margin: 0 20px 0 0!important;
	background: #ddd;
	width: 12px;
	height: 12px;
}
.find_title{
	height: 30px;
	border-bottom: 1px solid #ddd;
}
.find_title span{
	float: left;
	font-size: 16px;
	color: #313131;
	padding-bottom: 10px;
	margin-right: 52px;
	cursor: pointer;
}
.find_title span.active{
	border-bottom: 3px solid #2bde73;
	position: relative;
}
.list_item img{
	width: 280px;
	height: 210px;
}
.list_item .font{
	width: 523px;
	padding-left: 25px;
	padding-top: 19px;
	font-size: 13px;
	color: #777;
}
.list_item .font h3{
	height: 18px;
	font-size: 18px;
	color: #333;
	margin-bottom: 13px;
}
.list_item .font .author_info{
	height: 13px;
	margin-bottom: 23px;
}
.list_item .font .author_info span{
	margin-right: 10px;
}
.list_item .font p{
	line-height: 23px;
	height: 69px;
	text-indent: 2em;
	margin-bottom: 11px;
}
.list_item .view_count:before{
	content: '';
	float: left;
	width: 18px;
	height: 18px;
	margin-right: 4px;
	background: url('../front-img/icon_view.png') no-repeat center;
}
.list_item .up_count:before{
	content: '';
	float: left;
	width: 18px;
	margin-right: 4px;
	height: 18px;
	background: url('../front-img/icon_up.png') no-repeat center;
}
.list_item .count span{
	float: left;
	height: 18px;
	line-height: 18px;
	width: 70px;
}
.find_list li{
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
}
.find_list ul{
	padding-bottom: 35px;
}
.find_r{
	width: 330px;
}
.find_r>div{
	margin-bottom: 30px;
}
.sub_title{
	font-size: 16px;
	color: #313131;
	line-height: 18px;
	height: 18px;
}
.sub_title:before{
	content: '';
	float: left;
	width: 4px;
	height: 18px;
	background: #2bde73;
	margin-right: 9px;
}
.focus_us img{
	width: 144px;
	height: 138px;
}
.find_body .sub_title{
	margin-bottom: 16px;
}
.focus_us .in{
	margin-left: 14px;
	padding-top: 25px;
}
.focus_us .in p{
	font-size: 16px;
	color: #313131;
	height: 16px;
	margin-bottom: 21px;
}
.fresh_action img{
	display: block;
	width: 330px;
	height: 200px;
}
.fresh_action img:hover{
	box-shadow: 0 0 15px #ccc;
}
/*find-detail*/
.find_detail{
	padding: 20px 40px;
}
.find_detail .title{
	font-size: 24px;
	text-align: center;
	width: 80%;
	line-height: 54px;
	margin:auto;
}
.find_detail .info{
	text-align: center;
	margin-bottom: 35px;
}
.find_detail .info .info_center{
	display: inline-block;
}
.find_detail .info .info_center span{
	float: left;
	color: #777;
	margin: 0 7px;
}
.find_detail .content{
	line-height: 36px;
	font-size: 16px;
	color: #777;
	text-indent: 2em;
}
.find_detail .up_box{
	width: 80px;
	height: 64px;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	margin: 45px auto 0;
	font-size: 18px;
	color: #777;
	padding-top: 16px;
	cursor: pointer;
}
.find_detail .up_box img{
	display: block;
	margin: 0 auto 11px;
}
/*榜单*/
.range_body{
	padding-bottom: 50px;
}
.range_banner{
	height: 360px;
	position: relative;
	min-width: 1200px;
	overflow: hidden;
}
.range_banner img{
	position: absolute;
	top: 0;
	left: 50%;
	width: 1920px;
	height: 360px;
	margin-left: -960px;
}
.range{
	margin-top: 50px;
}
.range_title span{
	display: inline-block;
	font-size: 16px;
	color: #313131;
	padding-bottom: 11px;
	border-bottom: 3px solid #2bde73;
	position: relative;
	z-index: 2;
}
.range_title .line{
	height: 1px;
	background: #ddd;
	position: relative;
	top: -1px;
}
.range_title p{
	width: 96px;
	height: 32px;
	background: #2bde73;
	text-align: center;
	line-height: 32px;
	color: #fff;
	margin-top: 12px;
}
.range .box{
	padding-top: 12px;
	overflow: hidden;
}
.range  table{
	width: 588px;
	color: #333333;
	font-size: 14px;
}
.range  table tr{
	border: 1px solid #e4eaee;
	border-top: none;
}
.range  table tr img{
	display: block;
	width: 150px;
	height: 100px;
	margin: auto;
}
.range1 tr,
.range3 tr{
	height: 118px;
}
.range  table td{
	text-align: center;
	vertical-align: middle;
}
.range  table tr td:nth-child(1){
	border-right: 1px solid #e4eaee;
	width: 28px;
}
.range  table tr td:nth-child(2){
	width: 170px;
}
.range  table tr td:nth-child(3){
	width: 180px;
}
.range  table tr td:nth-child(4){
	width: 80px;
}
.range  table tr td:nth-child(5){
	width: 129px;
}
.range2  table tr td:nth-child(2){
	width: 280px;
}
.range2  table tr td:nth-child(3){
	width: 100px;
}
.range2  table tr td:nth-child(4){
	width: 179px;
}
.range table tr:nth-child(1){
	background: #f5f8fa;
	height: 42px;
	border-top: 1px solid #e4eaee;
	line-height: 42px;
}
.range2 table tr{
	height: 48px;
}
/*create*/
.create_body{
	padding: 110px 0 200px;
}
.create_body h4{
	text-align: center;
	font-size: 24px; 
	color: #313131;
	height: 24px;
}
.create_body form{
	display: block;
	width: 650px;
	margin: auto;
	padding: 80px 0 0;
}
.create_body form div label.disabled{
	cursor: not-allowed;
}
.create_body form div label.disabled.company .pic{
	background: url('../front-img/icon_company_no.png') no-repeat center;
}
.create_body form div label.disabled.personal .pic{
	background: url('../front-img/icon_personal_no.png') no-repeat center;
}

.create_btn1{
	display: block;
	width: 358px;
	height: 44px;
	background: #3b5998;
	color: #fff;
	line-height: 44px;
	text-align: center;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
.create_body .pic{
	width: 98px;
	height: 98px;
	margin: 0 auto 42px;
}
.create_body  .company .pic{
	background: url('../front-img/icon_company_yes.png') no-repeat center;
}
.create_body  .radio em{
	width: 18px;
	height: 18px;
	margin-right: 18px;
	margin-top: 7px;
	background: url('../front-img/icon_checked_no.png') no-repeat center;
}
.create_body  .radio p{
	font-size: 22px;
	color: #313131;
}
.create_body  .radio em.yes{
	background: url('../front-img/icon_checked_yes.png') no-repeat center;
}
.create_body  .personal .pic{
	background: url('../front-img/icon_personal_yes.png') no-repeat center;
}
.create_body  .law em{
	width: 12px;
	height: 12px;
	margin-top: 3px;
	background: url('../front-img/icon_checked_no2.png') no-repeat center;
}
.create_body  .law em.yes{
	background: url('../front-img/icon_checked_yes2.png') no-repeat center;
}
.create_body  .law p{
	font-size: 14px;
	margin-left: 9px;
}
.create_body  .law{
	display: block;
	margin: 110px 0 50px;
}
.create_body  .create_btn1{
	margin: auto;
}
.create_step{
	min-height: 780px;
}
.create_step  .step_title{
	height: 130px;
	min-width: 1200px;
	text-align: center;
	background: #fff;
}
.create_step  .step_center{
	display: inline-block;
	padding-top: 36px;
}
.create_step  .step_center li{
	float: left;
	width: 150px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	padding: 4px;
	border-radius: 19px;
	background: #e6e6e6;
	position: relative;
	margin: 0 12px;
}
.create_step  .step_center li:before{
	content: '';
	position: absolute;
	width: 24px;
	height: 4px;
	top: 50%;
	margin-top: -2px;
	left: -24px;
	background: #e6e6e6;
}
.create_step  .step_center li.first:before{
	display: none;
}
.create_step  .step_center li p{
	width: 150px;
	height: 30px;
	color: #9f9f9f;
	border-radius: 19px;
	background: transparent;
	position: relative;
}
.create_step  .step_center li p.active{
	color: #fff;
	background: #2bde73;
}
.create_step  .step_center li p.active:before{
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -2px;
	left: -32px;
	width: 32px;
	height: 4px;
	background: #2bde73;
}
.create_step  .step_center li.first p.active:before{
	display: none;
}
.create_step  .step_title>p{
	font-size: 14px;
	color: #313131;
	margin-top: 21px;
}
.create_step .step_form{
	padding: 40px 0 60px;
}
.create_step .step_form .form_group{
	padding-bottom: 30px;
}
.create_step .step_form .form_group>span{
	width: 204px;
	line-height: 40px;
	font-size: 14px;
	color: #444;
	text-align: right;
	margin-right: 30px;
}
.create_step .form_group .upload_img{
	display: inline-block;
	border: 1px solid #ddd;
	padding: 9px;
}
.create_step .form_group .upload_img img{
	display: block;
	width: 220px;
	height: 165px;
}
.create_step .form_group>div>p{
	margin-top: 12px;
	text-indent: 19px;
	font-size: 13px;
	color: #666;
	width: 100%;
	float: left;
}
.create_step .form_group .input_box{
	width: 868px;
	height: 38px;
	border:1px solid #ddd;
	line-height: 38px;
	font-size: 14px;
}
.create_step .form_group .input_box input{
	width: 800px;
	height: 38px;
	text-indent: 1em;
	background: transparent;
}
.create_step .form_group .input_box p{
	margin-right: 20px;
	color: #999;
}
.create_step .form_m_width{
	float: left;
	width: 240px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #ddd;
	text-indent: 1em;
	background: transparent;
}
.create_step .add{
	font-size: 14px;
	line-height: 40px;
	color: #2bde73;
	margin-left: 3px;
	cursor: pointer;
}
.create_step .add:before{
	content: '';
	float: left;
	width: 18px;
	height: 18px;
	background: url('../front-img/icon_add.png') no-repeat center;
	margin-top: 11px;
	margin-left: 10px;
}
.step_btn1{
	display: block;
	width: 196px;
	height: 40px;
	border: 1px solid #2bde73;
	border-radius: 3px;
	line-height: 40px;
	text-align: center;
	color: #2bde73;
	background: transparent;
	margin: auto;
	cursor: pointer;
	margin-top: 30px;
}
.step_form .form_time{
	background: url('../front-img/icon_time.png') no-repeat 210px center;
	margin-right: 12px;
}
.step_form .form_m_width p{
	font-size: 14px;
	color: #666;
	width: 91px!important;
	margin: 0!important;
	border-right: 1px solid #ddd;
}
.step_form .form_m_width input{
	//width: 140px!important;
	width: 140px!important;
	margin: 0!important;
	background: transparent;
	// text-indent: 1em;
}
.w242{
	width: 242px;
}
.w242>div{
	margin-bottom: 12px;
	position: relative;
}
.w242>div:nth-last-child(1){
	margin-bottom: 0;
}
.w242>div:before{
	content: '人';
	position: absolute;
	height: 40px;
	line-height: 40px;
	width: 20px;
	top: 0;
	right: -20px;
	font-size: 14px;
	color: #666;
}
.step_form .text_area_box{
	width: 868px;
	height: 137px;
	border: 1px solid #ddd;
}
.step_form .text_area_box textarea{
	padding: 8px 18px;
	width: 832px;
	height: 96px;
	font-size: 14px;
	line-height: 24px;
	display: block;
	resize:none;
	background: transparent;
}
.step_form .text_area_box p{
	text-align: right;
	height: 25px;
	line-height: 14px!important;
	color: #999!important;
	margin: 0!important;
	width: 860px!important;
}
.step_form table{
	width: 870px;
}
.step_form table tr{
	width: 868px;
	height: 137px;
	border: 1px solid #ddd;
	display: block;
	margin-bottom: 12px;
}
.step_form table tr textarea{
	width: 744px;
	height: 86px;
	padding: 13px 16px;
	resize:none;
	background: transparent;
}
.step_form table tr p{
	text-align: right;
	width: 770px;
	font-size: 14px;
	color: #999;
}
.step_form table tr td:nth-child(1){
	width: 91px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	vertical-align: top;
	border-right: 1px solid #ddd;
	color: #666;
}
.step_form table tr td:nth-child(2){
	width: 776px;
}
.step_form3 .form_group{
	line-height: 25px!important;
}
.step_form3 .form_group>span{
	line-height: 25px!important;
}
.step_form3 .form_group p{
	margin: 0!important;
	line-height: 25px!important;
	text-indent: 0!important;
	font-size: 14px!important;
	color: #666!important;
}
.step_form3 .form_group>div{
	width: 800px;
	margin: 0!important;
	line-height: 25px!important;
}
.step_form div img{
	display: block;
	max-width: 800px;
	// height: 600px;
}
.five_s{
	display: block;
	margin: auto;
	text-align: center;
	font-size: 14px;
	color: #444;
	margin-bottom: 74px;
}
/*项目详情*/
.project_detail_main{
	padding: 50px 0 90px;
}
.project_detail_main h3{
	font-size: 28px;
	color: #313131;
	width: 80%;
	line-height: 48px;
	margin: auto;
	text-align: center;
}
.project_detail_main .project_num{
	text-align: center;
	color: #777;
	font-size: 16px;
	margin: 0 15px;
	padding: 12px 0 35px;
}
.project_l{
	width: 560px;
	position: relative;
}
.project_l>img{
	display: block;
	width: 560px;
	height: 420px;
}
.project_l .rt_big{
	position: absolute;
	top: 0;
	right: 0;
	width: 127px;
	height: 110px;
	background: url('../front-img/rt_big.png') no-repeat center;
	font-size: 28px;
	color: #fff;
}
.project_l .rt_big p{
	-webkit-transform: rotate(43deg);
	   -moz-transform: rotate(43deg);
	    -ms-transform: rotate(43deg);
	     -o-transform: rotate(43deg);
	        transform: rotate(43deg);
	 position: absolute;
	 top: 26px;
	 right: 0px;
}
.p_share_and_adr{
	padding-top: 11px;
}
.p_share_and_adr span,
.p_share_and_adr a{
	float: left;
	line-height: 24px;
	font-size: 14px;
	color: #777;
}
.p_share_and_adr a{
	margin-left: 5px;
}
.p_share_and_adr .address{
	width: 112px;
}
.p_share_and_adr .pei{
	width: 190px;
}
.p_share_and_adr .address:before{
	content: '';
	float: left;
	width: 12px;
	height: 16px;
	margin: 4px 5px 0 0;
	background: url('../front-img/icon_adr.png') no-repeat center;
}
.p_share_and_adr .pei:before{
	content: '';
	float: left;
	width: 15px;
	height: 15px;
	margin: 4px 5px 0 0;
	background: url('../front-img/icon_biaoqian.png') no-repeat center;
}
.project_r{
	width: 600px;
	padding-top: 45px;
}
.project_r>p{
	font-size: 18px;
	color: #444;
	height: 28px;
	margin-bottom: 30px;
}
.project_r>p>span{
	font-size: 28px;
	margin: 0 5px;
	color: #2bde73;
	line-height: 28px;
}
.project_r .btn_box a{
	width: 180px;
	height: 50px;
	border-radius: 3px;
	box-shadow: 0 0 5px #ccc;
	text-align: center;
	line-height: 50px;
	color: #787878;
	font-size: 18px;
	margin-right: 50px;
	background: #fff;
	margin-top: -5px;
}
.project_r .btn_box a.support{
	color: #fff;
	background: #2bde73;
}
.project_r .btn_box a.support:before{
	content: '';
	display: inline-block;
	width: 24px;
	height: 25px;
	margin-right: 9px;
	background: url('../front-img/icon_support.png') no-repeat center;
	position: relative;
	top: 5px;
}
.project_r .btn_box a.collect:before{
	content: '';
	display: inline-block;
	width: 26px;
	height: 24px;
	margin-right: 9px;
	position: relative;
	top: 5px;
	background: url('../front-img/icon_star.png') no-repeat center;
}
.project_r .btn_box a.is_collect:before{
	content: '';
	display: inline-block;
	width: 26px;
	height: 24px;
	margin-right: 9px;
	position: relative;
	top: 5px;
	background: url('../front-img/icon_star2.png') no-repeat center;
}
.project_r .des{
	font-size: 16px;
	color: #444444;
	line-height: 28px;
	padding-top: 44px;
}
.project_detail_title{
	border-bottom: 1px solid #ddd;
}
.project_detail_title .title{
	height: 32px;
}
.project_detail_title .title span{
	float: left;
	padding: 0 13px 6px;
	margin-right: 50px;
	font-size: 18px;
	color: #313131;
	cursor: pointer;
}
.project_detail_title .title span.active,
.project_detail_title .title span:hover{
	border-bottom: 3px solid #2bde73;
	position: relative;
	z-index: 2;
}
.project_detail_content .content_l{
	width: 765px;
	padding-left: 17px;
	padding-top: 10px;
	font-size: 14px;
	color: #666;
	line-height: 28px;
}
.project_detail_content{
	padding-bottom: 100px;
}
.project_detail_content .content_r{
	width: 330px;
}
.project_detail_content .before_point{
	line-height: 16px;
	font-size: 16px;
	color: #333;
	margin: 30px 0 6px;
}
.project_detail_content .before_point:before{
	content: '·';
	margin: 0 2px 0 0;
}
.project_detail_content .content img{
	display: block;
	max-width: 680px;
	margin: 18px auto 7px;
}
.project_detail_content .content .assess{
	text-align: center;
}
.project_detail_content .content .expert{
	text-align: center;
}
.project_detail_content .content .name_and_title{
	font-size: 14px;
	color: #333;
}
.project_detail_content .content .expert p{
	width: 370px;
	margin: auto;
	font-size: 13px;
	color: #666;
}
.project_detail_content .content .list{
	width: 761px;
	padding: 35px 0;
}
.project_detail_content .content .list li{
	width: 341px;
	position: relative;
	padding-bottom: 30px;
	font-size: 14px;
	color: #666;
	line-height: 14px;
}
.project_detail_content .content .list li .des{
	font-size: 13px;
	color: #333;
	line-height: 23px;
	margin: 15px 0 10px;
}
.project_detail_content .content .list li img{
	float: left;
	width: 110px;
	height: 110px;
	margin: 0;
	margin-right: 3px;
	margin-bottom: 6px;
}
.project_detail_content .content .list li:nth-child(2n+1),
.project_detail_content .content .list li.list_right{
	padding-left: 40px;
	float: right;
}
.project_detail_content .content .list li:nth-child(2n+1):before,
.project_detail_content .content .list li.list_right:before{
	content: '';
	position: absolute;
	top: 0;
	left: -7px;
	width: 16px;
	height: 16px;
	background: url('../front-img/icon_list_point.png') no-repeat center;
	z-index: 1000;
}
.project_detail_content .content .list li:nth-child(2n+1):after,
.project_detail_content .content .list li.list_right:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background: #d4d4d4
}
.project_detail_content .content .list li:nth-child(2n),
.project_detail_content .content .list li.list_left{
	padding-right: 40px;
	float: left;
}
.project_detail_content .content .list li:nth-child(2n) p.f_time,
.project_detail_content .content .list li.list_left p.f_time{
	text-align: right;
}
.project_detail_content .content .list li:nth-child(2n+1) p.f_time,
.project_detail_content .content .list li.list_right p.f_time{
	text-align: left;
}
.project_detail_content .content .list li:nth-child(2n):before,
.project_detail_content .content .list li.list_right:before{
	content: '';
	position: absolute;
	top: 0;
	right: -8px;
	width: 16px;
	height: 16px;
	background: url('../front-img/icon_list_point.png') no-repeat center;
	z-index: 1000;
}
.project_detail_content .content .list li:nth-child(2n):after,
.project_detail_content .content .list li.list_right:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: #d4d4d4
}
.project_detail_content .content .discuss{
	padding: 30px 0;
}
.project_detail_content .content .discuss li{
	font-size: 13px;
	color: #777;
	margin-bottom: 17px;
}
.project_detail_content .content .discuss li img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0;
	margin-right: 36px;
}
.project_detail_content .content .discuss li div{
	width: 658px;
	border-bottom: 1px solid #ddd;
}
.project_detail_content .content .discuss li div span{
	display: block;
	font-size: 14px;
	line-height: 14px;
	color: #333;
	margin-bottom: 7px;
}
.project_detail_content .content .discuss li div p{
	font-size: 13px;
	color: #777;
	line-height: 22px;
}
.project_detail_content .content .discuss li div p.time{
	text-align: right;
}
.project_detail_content .content_r .sub_title{
	margin-bottom: 15px;
	margin-top: 40px;
}
.project_detail_content .content_r .slide_right_box{
	padding-left: 14px;
	line-height: 28px;
	font-size: 14px;
	color: #666;
}
.project_detail_content .content_r .project{
	border: 1px solid #ddd;
}
.project_detail_content .head_img{
	border-radius: 50%;
	overflow: hidden;
}
/*认证页面*/
.authenticate_top{
	height: 48px;
	text-align: center;
	line-height: 16px;
	font-size: 16px;
	color: #666;
	padding-top: 32px;
	background: #fff;
}
.authenticate_top .sort{
	color: #313131;
	padding:0 2px 7px;
	display: inline-block;
	border-bottom: 2px solid #2bde73;
	margin-right: 21px;
}
.id_card{
	float: left;
	width: 460px;
	height: 345px;
	margin: 10px;
}
.w960{
	width: 960px!important;
}
.t_indent_1{
	text-indent: 1em!important;
}
.step_form .form_m_width input.w90p{
	width: 90%!important;
}
/**
* 
*/
.step_form .form_group{
	position: relative;
}
.form_group div.pl span{
	position: absolute;
	top: 0;
	//left: 110%;
	//width:200px;
	line-height: 40px;
	right:0;
}