/*部分css样式重置*/
html,body{
	font-family: '微软雅黑';
}
/*边框样式*/
body,div,dl,
dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
form,input,button,textarea,
p,th,td,img,em,a,span {
	margin: 0;
	padding: 0;
	outline: 0; 
}
/*表格样式*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*图片和按钮的边框消除样式*/
img button{
	border: none;

}
/*字体样式*/
h1,h2,h3,h4,h5,h6,
em,strong,span,a,i,b,
input,button,textarea,select,
dl,dt,dd,ul,ol,li,td,th,tr,p{
    margin: 0;    
    padding: 0;    
    border: 0;    
    outline: 0;    
    font-weight: inherit;    
    font-style: inherit;    
    font-size: inherit;    
    font-family: inherit;    
    vertical-align: baseline; 
    line-height: inherit;
    color: inherit;	
    text-decoration: none;
	font-weight: normal;
}
li {
	list-style: none;
}
.fs14{
	font-size: 14px;
}
.fs16{
	font-size: 16px;
}
.fs18{
	font-size: 18px;
}
.yuan{
	border-radius: 50%;
}
// 清除浮动
.clearfix:before{
  	content: "";
  	display: block;
  	height: 0;
}
.clearfix:after{
	display: table;
  	content: "";
	clear: both;
}

.hidden{
	display: none;
}
.show{
	display: block;
}
.pl{
	float: left;
}
.pr{
	float: right;
}
.yuan{
	border-radius: 50%;
}