.login-box{
	box-sizing: border-box;
	width: 400px;
	background: #fff;
	margin:60px auto 280px auto;
	padding:30px 24px;

}

.login-box>h1{
	font-size: 26px;
	margin-bottom: 30px;
}

.login-box ul li input{
	width: 350px;
	height: 40px;
	border:1px solid #d4d4d4;
	border-radius: 5px;
	padding-left: 10px;
	box-sizing: border-box;

}

.login-box ul li {
	margin-bottom: 20px;
}

.verfiy {
	float: right;
	height: 40px;
	width: 140px;
	background: #bae8dc;
}

.forget-pass {
	float: right;
	color:#3b99fc;
	font-size: 14px;
}

.btn {
	width: 350px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color:#fff;
	background: #2bde73;
	border-radius: 5px;
	margin:20px 0;
}

.or-line {
	height: 1px;
	background:#d4d4d4; 
	position: relative;
	width: 90%;
	margin:25px auto;
	text-align: center;
}

.or-line em{
	margin-top: -10px;
	background: #fff;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	padding:0 8px;

}


.find-pass-section {
	background: #fff;
	height: 100px;
	border-bottom: 1px solid #e9eaec;
}


.icon-lock {
	height: 24px;
	width: 18px;
	float: left;
	margin-top:5px;
}

.find-pass-nav {
	margin-left: 30px;
	float: left;
}

.find-pass-status {
	width: 130px;
	height: 36px;
	background: #e6e6e6;
	border-radius: 20px;
	color:#9f9f9f;
	float: left;
	text-align: center;
	line-height: 36px;
}

.find-pass-section>.container{
	box-sizing: border-box;
	padding:30px 100px;
}

.find-pass-section>.container>span{
	float: left;
	margin: 8px 10px;
}

.conect-line {
	float: left;
	width: 26px;
	height: 5px;
	background: #e6e6e6;
	margin-top:15px;
}

.find-pass-nav li {
	box-sizing: border-box;
}

.find-pass-nav>.on {
	background: #2bde73 !important;
	color:#fff !important;
	border:4px solid #e6e6e6;
	line-height: 30px;
}

.find-pass-h {
	color:#444444;
	font-size: 18px;
	margin:42px 0 30px 175px;
	
}

.forget-pass-1{
	margin-left: 300px;
	margin-bottom: 460px;
	width: 450px;
}
.forget-pass-1 ul li {
	margin-bottom: 15px;
}
.forget-pass-1 ul li em{
	float: left;
	line-height: 40px;
	width: 80px;
	text-align: right;
	margin-right: 20px;
}

.forget-pass-1 ul li input {
	width: 350px;
    height: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
    background: #f2f4f6;
}

.readonly{
	border:none !important;
}

.forget-pass-1 ul li span {
	
    line-height: 40px;
}

.jump-to{
	text-align: center;
	font-size: 14px;
	color:#444444;
}

.btn-jump {
	display: block;
	height: 45px;
	width: 200px;
	border:1px solid #2bde73;
	line-height: 45px;
	text-align: center;
	margin:100px auto;
	color:#2bde73;
}

.icon-moblie {
	width: 15px;
	height: 25px;
	float: left;
}

#send-verify {

	display: block;
	float: right;
	width: 130px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border:1px solid #2bde73;
	color:#2bde73;
	border-radius: 5px;

}

.change-ok-text {
	text-align: center;
	color:#444444;
	font-size: 18px;
	margin-bottom: 30px;
}

.icon-amend {
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 6px;
}

.ali-pay {
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}

.wechat-pay {
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}
.pay-items>li{
	margin-bottom: 33px;
}
.pay-items>li>span{
	float: left;
	font-size: 14px;
	margin-right: 30px;
	margin-top:10px;
}

.pay-type-items{
	float: left;
	width: 710px;
	height: 140px;
	border:1px solid #dddddd;
}

.pay-type-items>li {
	float: left;
	width: 50%;
}

.pay-chose {
	float: left;
	margin:20px 0;
	text-align: center;
}

.pay-type-items label input{
	float: left;
	margin:60px 50px 0 100px;
}

.much-items{
	float: left;
}


.much-items>li{
	float: left;
	width: 130px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border:1px solid #999999;
	font-size: 14px;
	color:#444444;
	margin-right: 20px;
	cursor: pointer;
}

.section-pay .container{
	box-sizing: border-box;
	padding:80px 140px;
}

.much {
	border:1px solid #dddddd;
	height: 40px;
	width: 240px;
	text-indent: 1em;
	background: #f2f4f6;
}

.much-selected {
	border:1px solid #2bde73 !important;
}

.btn-pay {
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin:100px auto;
	border:1px solid #2bde73;
	color: #2bde73;
}

.pay-info {
	line-height: 40px;
}

.section-withdraw-info {
	width: 100%;
	height: 300px;
	margin-top: 40px;
}

.widthdraw-panel {
	width: 100%;
	height: 100%;
}

.withdraw-panel  img{
	width: 320px;
	height: 240px;
	float: left;
}

.withdraw-info {
	width: 650px;
	height: 100%;
	float:left;
	box-sizing: border-box;
	padding-left: 40px;
}

.files {
	float: left;
	
	margin-top:100px;
	border-left: 1px solid #d4d4d4;
	padding-left: 50px;

}

.withdraw-info h1 {
	margin-top:20px;
	color:#333333;
	font-size: 24px;
}

.withdraw-info h2{
	margin-top:20px;
	color:#777777;
}
.withdraw-info h3 {
	margin-top:25px;
	color:#666666;
}

.withdraw-info h4 {
	margin-top:25px;
	color:#666666;
}


.withdraw-info h4 em{
	font-size: 26px;
	color:#2bde73;
}

.btn-withdraw {
	height: 40px;
	width: 130px;
	line-height: 40px;
	text-align: center;
	background: #2bde73;
	color:#fff;
	margin-top:17px;
}

.files div em{
	display: inline-block;
	float: left;
	height: 20px;
	width: 5px;
	background: #2bde73;
	margin-right: 10px;
}

.files div span{
	float: left;
}
.files ul {
	margin:20px;
}

.files ul li {
	margin-bottom: 12px;
}

.b-line {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 30px;
	box-sizing: border-box;
}

.withdarw-record-h {
	display: block;
	width: 100px;
	height: 50px;
	border-bottom: 3px solid #2bde73;
	line-height: 50px;
	box-sizing: border-box;
}


#record-table{
	width: 100%;
	margin-bottom: 100px;

}
.record-order {
	width: 10%;
}

.record-time {
	width: 30%;
}
.record-money {
	width: 40%;
}
.record-status {
	width: 20%;
}
td,th{
	text-align: center;
	border:1px solid #e4eaee;
	color:#333333;
	height: 50px;
	line-height: 50px;
}

th{
	background: #f5f8fa;
}

.withdraw-ok {
	text-align: center;
}

.withdraw-ok h1{
	margin:100px 0;
	color:#313131;
	font-size: 20px;
}

.withdraw-ok h2{
	margin:100px 0;
}