<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/header :: css">
    <title>推荐位列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 推荐位管理 <span class="c-gray en">&gt;</span> 推荐位列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<form id="form-article-list" action="/admin/recommend/list" >
<input type="hidden" id="pageNum" name="pageNum" th:value="${pageNum}"/>
<input type="hidden" id="findtype" name="findtype" th:value="${findtype}"/>
<div class="page-container">
	<div class="text-c"  style="text-align:left">
		<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l"> <a class="btn btn-primary radius" data-title="添加推荐位" onclick="recommend_add('添加推荐位','/admin/recommend/addRecommendInit')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加推荐位</a>&nbsp;</span> 
		<button name="" onclick="recommendlist('0')" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 首页-项目推荐位</button>
		<button name="" onclick="recommendlist('1')" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 子页-项目推荐位</button>
		<button name="" onclick="recommendlist('2')" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 榜单-企业排行</button>
		<span class="r" >共有数据：<strong th:text="${pageInfo.total}">54</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="80" >推荐类型</th>
					<th width="150">推荐ID</th>
					<th width="150">排序</th>
					<th width="150">企业名称(企业专用)</th>
					<th width="150">支持项目数(企业专用)</th>
					<th width="150">金额(企业专用)</th>
					<th width="25">是否显示</th>
					<th width="60">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c" th:each="model:${pageInfo.list}" th:object="${model}">
					<td>
						<span th:if="*{type} == 0" th:text="首页-项目推荐位">0</span>
						<span th:if="*{type} == 1" th:text="子页-项目推荐位">1</span>
						<span th:if="*{type} == 2" th:text="榜单-企业排行">2</span>
					</td>
					<td>
						<span th:text="*{recommend_id}">推荐id</span>
					</td>
					<td>
						<span th:text="*{order_number}">排序</span>
					</td>
					<td>
						<span th:text="*{company_name}">企业名称</span>
					</td>
					<td>
						<span th:text="*{company_p_number}">支持项目数</span>
					</td>
					<td>
						<span th:text="*{company_p_amount}">支持金额</span>
					</td>
					<td class="td-status">
						<span th:if="*{is_use} == 1" th:text="已发布" class="label label-success radius">已发布</span>
						<span th:if="*{is_use} == 0" th:text="已下架" class="label label-defaunt radius">已下架</span>
					</td>
					<td class="f-14 td-manage">
						<a style="text-decoration:none" th:if="*{is_use} == 0" th:onClick="'javascript:article_start(' + this + ',' + *{id} + ')'" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
						<a style="text-decoration:none" th:if="*{is_use} == 1" th:onClick="'javascript:article_stop(' + this + ',' + *{id} + ')'" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>
						<a style="text-decoration:none" class="ml-5" th:onclick="'javascript:recommend_edit(\'资讯编辑\',\'/admin/recommend/editArticleInit\',' + *{id} + ')'" onClick="article_edit('资讯编辑','/admin/recommend/editArticleInit','10001')" href="javascript:;" title="编辑">
						<i class="Hui-iconfont">&#xe6df;</i></a> 
						<a style="text-decoration:none" class="ml-5" th:onClick="'javascript:recommend_del(' + this + ',' + *{id} + ')'" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div style="margin-top:15px; text-align:center;" id="page11"></div>
<div th:replace="admin/footer :: footer"></div>
</form>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

/*推荐-添加*/
function recommend_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*推荐-编辑*/
function recommend_edit(title,url,id,w,h){

	var index = layer.open({
		type: 2,
		title: title,
		content: url + "?id=" + id
	});
	layer.full(index);
}

/*推荐-删除*/
function recommend_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/admin/recommend/delRecommend',
			data : {
				"id" : id
			},
			dataType: 'json',
			success: function(data){
// 				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
				window.location.reload();
			},
			error:function (XMLHttpRequest, textStatus, errorThrown) {
				alert("删除推荐出错!");
	            if(XMLHttpRequest.status == 403){
	                layer_close();
	                errorMessage('无权操作!');
	            }else {
	                errorMessage("系统错误!");
	            }
	        },
		});		
	});
}


/*资讯-下架*/
function article_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/admin/recommend/updateIsuse',
			dataType: 'json',
			data : {
				"id" : id,
				"is_use" : 0
			},
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
				$(obj).remove();
				layer.msg('已下架!',{icon: 5,time:1000});
			},
			error:function (XMLHttpRequest, textStatus, errorThrown) {
				alert("下架处理出错");
                if(XMLHttpRequest.status == 403){
                    layer_close();
                    errorMessage('无权操作!');
                }else {
                    errorMessage("系统错误!");
                }
            },
		});

	});
}

/*资讯-发布*/
function article_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/admin/recommend/updateIsuse',
			dataType: 'json',
			data : {
				"id" : id,
				"is_use" : 1
			},
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
				$(obj).remove();
				layer.msg('已发布!',{icon: 6,time:1000});
			},
			error:function (XMLHttpRequest, textStatus, errorThrown) {
				alert("发布处理出错");
                if(XMLHttpRequest.status == 403){
                    layer_close();
                    errorMessage('无权操作!');
                }else {
                    errorMessage("系统错误!");
                }
            },
		});
	});
}

/* 推荐位检索 */
function recommendlist(type){
	$("#findtype").val(type);
	
	$("#form-article-list").submit();
}
 
</script> 
</body>
</html>