<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/header :: css">
    <title>支付列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 支付管理 <span class="c-gray en">&gt;</span> 支付流水列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<form id="form-article-list" action="/admin/paystream/list" >
<input type="hidden" id="pageNum" name="pageNum" th:value="${pageNum}"/>
<div class="page-container">
	<div class="text-c"  style="text-align:left">
		<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
		检索关键字
		 <span class="select-box inline">
		 	项目检索
			<input type="text" name="findproject" id="findproject" placeholder="项目ID/项目名称" style="width:250px" class="input-text" th:value="${findproject}"/>
			用户检索
			<input type="text" name="finduser" id="finduser" placeholder="用户ID/用户名称" style="width:250px" class="input-text" th:value="${finduser}"/>
			日期范围：
			<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'findtimeend\')||\'%y-%M-%d\'}' })" id="findtimestart" name="findtimestart" class="input-text Wdate" style="width:120px;" th:value="${findtimestart}" />
			-
			<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'findtimestart\')}',maxDate:'%y-%M-%d' })" id="findtimeend" name="findtimeend" class="input-text Wdate" style="width:120px;" th:value="${findtimeend}" />
			<button name="" onclick="javascript:list();" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 检索</button>
		</span> 
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="r" >共有数据：<strong th:text="${pageInfo.total}">54</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="50" id="order0" onclick="javascript:articleorder('0')">
						内部编号<a id="sp0" style="color: blue;"> ↑ </a>
						<input type="hidden" id="ordertype" name="ordertype" th:value="${ordertype}"/>
						<input type="hidden" id="ordervalue" name="ordervalue" th:value="${ordervalue}"/>
					</th>
					<th width="30" id="order1" onclick="javascript:articleorder('1')">
						项目ID<a id="sp1" style="color: blue;"> ↑ </a>
					</th>
					<th width="150">项目名称</th>
					<th width="30" id="order2" onclick="javascript:articleorder('2')">
						用户ID<a id="sp2" style="color: blue;"> ↑ </a>
					</th>
					<th width="150">用户名</th>
					<th width="150">支付金额</th>
					<th width="60" id="order3" onclick="javascript:articleorder('3')">
						支付时间<a id="sp3" style="color: blue;"> ↑ </a>
					</th>
					<th width="60">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c" th:each="model:${pageInfo.list}" th:object="${model}">
					<td th:text="*{id}">1</td>
					<td th:text="*{project_id}">100</td>
					<td th:text="*{project_name}">中国好项目</td>
					<td th:text="*{user_id}">100</td>
					<td th:text="*{user_name}">用户A</td>
					<td th:text="*{#numbers.formatDecimal(pay_amount,1,2)}">5</td>
					<td th:text="*{#dates.format(createTime,'yyyy-MM-dd')}">2014-6-11</td>
					<td class="f-14 td-manage">
					</td>
				</tr>
			</tbody>
		</table>
		<div th:replace="admin/page :: page"></div>
	</div>
</div>
<div style="margin-top:15px; text-align:center;" id="page11"></div>
<div th:replace="admin/footer :: footer"></div>
</form>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/h-ui/lib/My97DatePicker/4.8/WdatePicker.js}"></script> 
<script type="text/javascript">

/** 检索 */
function list(){
	$("#form-article-list").submit();
}

laypage({
	  cont: 'page11',
	  pages: $("#pages").val(), //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
	  curr: $("#pageNum").val(), 
	  jump: function(e, first){ //触发分页后的回调
	    if(!first){ //一定要加此判断，否则初始时会无限刷新
	      $("#pageNum").val(e.curr)
	      $("#form-article-list").submit();
	    }
	  }
});

/* 排序搜索 */ 
function articleorder(order){

	$("#ordertype").val(order);
	if($("#ordervalue").val() == "0"){
		$("#ordervalue").val("1");
	} else {
		$("#ordervalue").val("0");
	}
	
	$("#form-article-list").submit();
}

//排序样式切换
$(function (){

	$("#sp0").html(" ↑ ");
	$("#sp1").html(" ↑ ");
	$("#sp2").html(" ↑ ");
	
	if($("#ordervalue").val() == "1"){
		$("#sp"+$("#ordertype").val()).html(" ↓ ");
	}

});
</script> 
</body>
</html>