<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/header :: css"></head>

<body>

<article class="page-container">
    <form class="form form-horizontal" id="form-article-add" th:object="${model}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>认证类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:if="*{type} == 1">个人</span>
                <span th:if="*{type} == 2">机构</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>申请时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{#dates.format(createTime, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>审核状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:if="*{checkStatus} == 0">待审核</span>
                <span th:if="*{checkStatus} == 1">通过</span>
                <span th:if="*{checkStatus} == 2">拒绝</span>
            </div>
        </div>
        <div class="row cl" th:if="*{checkStatus} != 0">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>审核时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{#dates.format(checkTime, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
        </div>
        <div class="row cl" th:if="*{type} == 1">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>个人姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{authUserName}"></span>
            </div>
        </div>
        <div class="row cl" th:if="*{type} == 2">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>法人代表姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{authLegalUserName}"></span>
            </div>
        </div>
        <div class="row cl" th:if="*{type} == 1">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>身份证号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{idCard}"></span>
            </div>
        </div>
        <div class="row cl" th:if="*{type} == 1">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>证件：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{idCardFace}"></span>
                <span th:text="*{idCardBack}"></span>
            </div>
        </div>
        <div class="row cl" th:if="*{type} == 2">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>三证合一证件：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{businessLicence}"></span>
            </div>
        </div>
        <div class="row cl" th:if="*{type} == 2">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{companyName}"></span>
            </div>
        </div>
        <div class="row cl" th:if="*{type} == 2">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>注册时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{#dates.format(registerTime, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
        </div>
        <div class="row cl" th:if="*{type} == 2">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>登记地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{registerAddress}"></span>
            </div>
        </div>
        <div class="row cl" th:if="*{type} == 2">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{companyIntroduce}"></span>
            </div>
        </div>

        <div class="row cl" th:if="*{checkStatus} == 0">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="saveCheck();" class="btn btn-primary radius" type="button" th:onclick="'javascript:saveCheck(this, \'/admin/authentication-info-check/'+*{id}+'\',\'true\');'" ><i class="Hui-iconfont">&#xe632;</i> 通过</button>
                <button onClick="saveCheck();" class="btn btn-secondary radius" type="button" th:onclick="'javascript:saveCheck(this, \'/admin/authentication-info-check/'+*{id}+'\',\'false\');'"><i class="Hui-iconfont">&#xe632;</i> 拒绝</button>
            </div>
        </div>

    </form>

</article>

<div th:replace="admin/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/admin/good/authentication-info-view.js}"></script>
</body>
</html>