<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/header :: css"></head>

<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-good-view" th:object="${model}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>个人/机构名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{username}"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{mobilePhone}"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{email}"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>发起项目数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{startNumber}"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>支持项目数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{supportNumber}"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>收藏项目数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{keepNumber}"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>募集的金额 ：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{getPrice}/100"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>支持的金额 ：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{payPrice}/100"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否个人认证：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:if="*{personAuthed}">是</span>
                <span th:unless="*{personAuthed}">否</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否机构认证：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:if="*{teamAuthed}">是</span>
                <span th:unless="*{teamAuthed}">否</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>注册时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:text="*{#dates.format(createTime, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否已启用：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:if="*{lock}">否</span>
                <span th:unless="*{lock}">是</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否接受系统邮件：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span th:if="*{acceptEmail}">是</span>
                <span th:unless="*{acceptEmail}">否</span>
            </div>
        </div>
    </form>
</article>
<div th:replace="admin/footer :: footer"></div>
</body>
</html>