<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="footer">
	<div class="footer">
		<div class="f_t">
			<div class="container f_height">
				<h1 class="f_logo pl">
					<a href="/">
						<img th:src="@{/front-img/logo.png}">
					</a>
				</h1>
				<div class="pl f_center">
					<div class="f_c_1 clearfix">
						<a href="find.html">发现</a>
						<span>·</span>
						<a href="range.html">榜单</a>
						<span>·</span>
						<a href="about.html">关于我们</a>
						<span>·</span>
						<a href="employ.html">招贤纳士</a>
						<span>·</span>
						<a href="contact.html">联系我们</a>
					</div>
					<div class="f_c_2">
						<span class="w185">电话：021—36696011</span>
						<span>地址：上海市浦东新区樱花路868号</span>
					</div>
					<div class="f_c_3">
						<span class="w185">邮箱：gq@jkinvest.cn</span>
						<span>建工大唐国际A座22楼</span>
					</div>
				</div>
				<img th:src="@{/front-img/guoqian.png}" class="pr code">
			</div>	
		</div>
		<p class="copyright">Copyright@2017 国乾战略资本（沪ICP备  00000000  |  Powered by Cronvs.</p>
	</div>
</body>
</html>