<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="front/header :: css">
    <title>首页</title>
</head>
<body>
	<!--头部导航-->
	<div class="header header_color header_font_size" th:include="front/header :: header"></div>

	<!-- banner -->
	<div class="banner">
		<!-- 给轮播图添加图片，有链接就加上a标签，没有不用加 -->
		<span th:each="model:${bannerlist}" th:object="${model}" >
			<a th:href="*{title2}" >
				<img th:src="*{image_filename}">
			</a>
		</span>
		
<!-- 		<a href="#"> -->
<!-- 			<img th:src="@{/front-img/banner1.png}"> -->
<!-- 		</a> -->
<!-- 		<a href="#"> -->
<!-- 			<img th:src="@{/front-img/test/first.png}"> -->
<!-- 		</a> -->
<!-- 		<a href="#"> -->
<!-- 			<img th:src="@{/front-img/test/test2.png}"> -->
<!-- 		</a> -->
		<!-- 下面这两个保留 -->
		<s class="banner_prev"></s>
		<s class="banner_next"></s>
	</div>
	<!-- 优秀项目 -->
	<div class="main_body container">
		<div class="f1">
			<h3 class="home_title">优秀项目</h3>
			<div class="tab clearfix">
				<div class="tab_l pl clearfix">
					<ul>
						<li class="project">
							<a href="project-detail.html">
								<img th:src="@{/front-img/test/test1.png}">
								<div class="font">
									<h4>风车电力项目风车电力项目风车电力项目风车电力项目</h4>
									<p class="des">风能作为一种清洁的可再生能源，越来越受到世界各国的重视。其蕴量巨大，全球的风能约为9MW，其中可利用的风能为2×10^7MW，比地球上可开发利用的水能总量还要大10倍。风能作为一种清洁的可再生能源，越来越受到世界各国的重视。其蕴量巨大，全球的风能约为9MW，其中可利用的风能为2×10^7MW，比地球上可开发利用的水能总量还要大10倍。</p>
									<p class="from">北京风车发展基金会北京风车发展基金会北京风车发展基金会</p>
									<div class="count clearfix">
										<span class="pl">预计需要<em>2000</em><s>万</s></span>
										<span class="pr">已募集<em>1000</em><s>万</s></span>
									</div>	
									<div class="info">
										<span class="face">全国</span>
										<span class="address">北京中国</span>
									</div>
								</div>
								<div class="tip">
									<p>PEI100</p>
								</div>
							</a>
						</li>
						<li class="project">
							<a href="#">
								<img th:src="@{/front-img/test/test1.png}">
								<div class="font">
									<h4>风车电力项目</h4>
									<p class="des">风能作为一种清洁的可再生能源，越来越受到世界各国的重视。其蕴量巨大，全球的风能约为9MW，其中可利用的风能为2×10^7MW，比地球上可开发利用的水能总量还要大10倍。</p>
									<p class="from">北京风车发展基金会</p>
									<div class="count clearfix">
										<span class="pl">预计需要<em>2000</em><s>万</s></span>
										<span class="pr">已募集<em>1000</em><s>万</s></span>
									</div>	
									<div class="info">
										<span class="face">全国</span>
										<span class="address">北京中国</span>
									</div>
								
								</div>
								<div class="tip">
									<p>PEI100</p>
								</div>
							</a>
						</li>
						<li class="project">
							<a href="#">
								<img th:src="@{/front-img/test/test1.png}">
								<div class="font">
									<h4>风车电力项目</h4>
									<p class="des">风能作为一种清洁的可再生能源，越来越受到世界各国的重视。其蕴量巨大，全球的风能约为9MW，其中可利用的风能为2×10^7MW，比地球上可开发利用的水能总量还要大10倍。</p>
									<p class="from">北京风车发展基金会</p>
									<div class="count clearfix">
										<span class="pl">预计需要<em>2000</em><s>万</s></span>
										<span class="pr">已募集<em>1000</em><s>万</s></span>
									</div>	
									<div class="info">
										<span class="face">全国</span>
										<span class="address">北京中国</span>
									</div>
								</div>
								<div class="tip">
									<p>PEI100</p>
								</div>
							</a>
						</li>
					</ul>
					<a href="#" class="pr more">更多</a>
				</div>
				<div class="tab_l pl clearfix">
					<ul>
						<li class="project">
							<a href="#">
								<img th:src="@{/front-img/test/test2.png}">
								<div class="font">
									<h4>风车电力项目</h4>
									<p class="des">风能作为一种清洁的可再生能源，越来越受到世界各国的重视。其蕴量巨大，全球的风能约为9MW，其中可利用的风能为2×10^7MW，比地球上可开发利用的水能总量还要大10倍。</p>
									<p class="from">北京风车发展基金会</p>
									<div class="count clearfix">
										<span class="pl">预计需要<em>2000</em><s>万</s></span>
										<span class="pr">已募集<em>2000</em><s>万</s></span>
									</div>	
									<div class="info">
										<span class="face">全国</span>
										<span class="address">北京中国</span>
									</div>
								</div>
								<div class="tip">
									<p>PEI100</p>
								</div>
							</a>
						</li>
						<li class="project">
							<a href="#">
								<img th:src="@{/front-img/test/test1.png}">
								<div class="font">
									<h4>风车电力项目</h4>
									<p class="des">风能作为一种清洁的可再生能源，越来越受到世界各国的重视。其蕴量巨大，全球的风能约为9MW，其中可利用的风能为2×10^7MW，比地球上可开发利用的水能总量还要大10倍。</p>
									<p class="from">北京风车发展基金会</p>
									<div class="count clearfix">
										<span class="pl">预计需要<em>2000</em><s>万</s></span>
										<span class="pr">已募集<em>1000</em><s>万</s></span>
									</div>	
									<div class="info">
										<span class="face">全国</span>
										<span class="address">北京中国</span>
									</div>
								
								</div>
								<div class="tip">
									<p>PEI100</p>
								</div>
							</a>
						</li>
						<li class="project">
							<a href="#">
								<img th:src="@{/front-img/test/test1.png}">
								<div class="font">
									<h4>风车电力项目</h4>
									<p class="des">风能作为一种清洁的可再生能源，越来越受到世界各国的重视。其蕴量巨大，全球的风能约为9MW，其中可利用的风能为2×10^7MW，比地球上可开发利用的水能总量还要大10倍。</p>
									<p class="from">北京风车发展基金会</p>
									<div class="count clearfix">
										<span class="pl">预计需要<em>2000</em><s>万</s></span>
										<span class="pr">已募集<em>1000</em><s>万</s></span>
									</div>	
									<div class="info">
										<span class="face">全国</span>
										<span class="address">北京中国</span>
									</div>
								</div>
								<div class="tip">
									<p>PEI100</p>
								</div>
							</a>
						</li>
					</ul>
					<a href="#" class="pr more">更多</a>
				</div>
				<div class="tab_r pr">
					<span class="active">总榜</span>
					<span>环境保护</span>
					<span>老人/儿童</span>
					<span>教育</span>
					<span>健康</span>
					<span>救灾</span>
					<span>社区发展</span>
					<span>社会创新/社会责任</span>
					<span>能力建设/研究倡导</span>
					<span>文化/艺术</span>
					<span>其他</span>
				</div>
			</div>
		</div>
		<div class="f2">
			<h3 class="home_title">为您推荐</h3>
			<div class="f2_item clearfix">
				<a href="#">
					<div class="pl">
						<div class="p_box">
							<h4>风车电力项目风车电力项目风车电力项目</h4>
							<p class="des">风能作为一种清洁的可再生能源，越来越受到世界各国的重视。其蕴量巨大，全球的风能约为9MW，其中可利用的风能为2×10^7MW，比地球上可开发利用的水能总量还要大10倍。风能作为一种清洁的可再生能源，越来越受到世界各国的重视。其蕴量巨大，全球的风能约为9MW，其中可利用的风能为2×10^7MW，比地球上可开发利用的水能总量还要大10倍。风能作为一种清洁的可再生能源，</p>
							<p class="from">北京风车发展基金会北京风车发展基金会北京风车发展基金会</p>
							<div class="count clearfix">
								<span class="pl">预计需要<em>2000</em><s>万</s></span>
								<span class="pr">已筹集<em>720</em><s>万</s></span>
							</div>
							<div class="info">
								<span class="face">全国</span>
								<span class="address">北京中国</span>
							</div>
						</div>
						<div class="tip">
							<p>PEI100</p>
						</div>
					</div>
					<div class="pr">
						<img th:src="@{/front-img/test/test2.png}">
					</div>
				</a>
			</div>
		</div>
		<div class="f3">
			<h3 class="home_title">专家队伍</h3>
			<div class="f3_slide">
				<div class="ov_box">
					<ul class="clearfix">
						<li>
							<div>
								<img th:src="@{/front-img/test/test_head.png}">
								<div class="f3_mask"></div>
							</div>
							<img class="head_img" th:src="@{/front-img/test/test_head.png}">
							<h4>李大伟</h4>
							<div class="line"></div>
							<div class="des">
								这里是李大伟的介绍文字这里是李大伟的介绍文字这里是李大伟的介绍文字这里是李大伟的介绍文字这里是李大伟的介这里是李大伟的介绍文字这里是李大伟的介绍文字这里是李大伟的介绍文字这里是李大伟的介绍文字这里是李大伟的介
							</div>
						</li>
						<li>
							<div>
								<img th:src="@{/front-img/test/test_head.png}">
								<div class="f3_mask"></div>
							</div>
							<img class="head_img" th:src="@{/front-img/test/test_head.png}">
							<h4>李大伟</h4>
							<div class="line"></div>
							<div class="des">
								这里是李大伟的介绍文字这里是李大伟的介绍文字这里是李大伟的介绍文字
							</div>
						</li>
						<li>
							<div>
								<img th:src="@{/front-img/test/test_head.png}">
								<div class="f3_mask"></div>
							</div>
							<img class="head_img" th:src="@{/front-img/test/test_head.png}">
							<h4>李大伟</h4>
							<div class="line"></div>
							<div class="des">
								这里是李大伟的介绍文字这里是李大伟的介绍文字这里是李大伟的介绍文字
							</div>
						</li>
						<li>
							<div>
								<img th:src="@{/front-img/test/test_head.png}">
								<div class="f3_mask"></div>
							</div>
							<img class="head_img" th:src="@{/front-img/test/test_head.png}">
							<h4>李大伟</h4>
							<div class="line"></div>
							<div class="des">
								这里是李大伟的介绍文字这里是李大伟的介绍文字这里是李大伟的介绍文字
							</div>
						</li>
					</ul>
				</div>
				<span class="btn prev"></span>
				<span class="btn next"></span>
			</div>
		</div>
		<div class="f4">
			<h3 class="home_title">创始发起</h3>
			<div class="f4_box clearfix">
				<a href="#">
					<img th:src="@{/front-img/logo.png}">
				</a>
				<a href="#">
					<img th:src="@{/front-img/logo.png}">
				</a>
				<a href="#">
					<img th:src="@{/front-img/logo.png}">
				</a>
				<a href="#">
					<img th:src="@{/front-img/logo.png}">
				</a>
				<a href="#">
					<img th:src="@{/front-img/logo.png}">
				</a>
				<a href="#">
					<img th:src="@{/front-img/logo.png}">
				</a>
				<a href="#">
					<img th:src="@{/front-img/logo.png}">
				</a>
				<a href="#">
					<img th:src="@{/front-img/logo.png}">
				</a>
				<a href="#">
					<img th:src="@{/front-img/logo.png}">
				</a>
				<a href="#">
					<img th:src="@{/front-img/logo.png}">
				</a>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div th:replace="front/footer :: footer"></div>
	<!-- 弹出框 -->
	<div class="home_alert" id="home_alert"></div>
</body>
<script type="text/javascript">
	// 轮播图插件
	var banner = new Banner(".banner",{
		width: 1920,
      	height:600,
      	time:3000,
      	speed: 400,
      	hover_show: true
	})
	$('.nav a').eq(2).click(function (e) {
		$('.home_alert').show();
	})
</script>
</html>