<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/header :: css"></head>

<body>
	<!--头部导航-->
	<div class="header header_color header_shadow header_font_size" th:include="front/header :: header"></div>
	<form id="form-register">

		<div class="login-box">
			<h1>注册</h1>
			<ul>
				<li>
					<input type="text" name="" placeholder="姓名或机构名称" th:name="username" th:id="username"/>
				</li>
				<li>
					<input type="text" name="" placeholder="您的邮箱" th:name="email" th:id="email"/>
				</li>
				<li>
					<input type="text" name="" placeholder="重复输入您的邮箱" th:name="email2" th:id="email2"/>
				</li>
				<li>
					<input type="password" name="" placeholder="设置密码" th:name="password" th:id="password"/>
				</li>
				<li>
					<input type="password" name="" placeholder="重复输入您的密码" th:name="password2" th:id="password2"/>
				</li>
			</ul>
			<div>
				<label>
					<input type="checkbox" th:name="isAcceptEmail" th:id="isAcceptEmail"/>
					<span>我愿意接受好项目平台必要的邮件</span>
				</label>

			</div>

			<div class="btn" style="background:#3b5998" onclick="onRegister();">马上注册</div>
		</div>

	</form>

	<!-- footer -->
	<div th:replace="front/footer :: footer"></div>

</body>
<script th:inline="javascript">

	function onRegister() {
		if(validForm().form()){
			alert(1);
		}else {
			alert(2);
		}
	}

	function validForm() {
		return $("#form-register").validate({
			rules:{
				username:{
					required:true,
					minlength:4,
					maxlength:16
				},
				password:{
					required:true
				},
				password2:{
					required:true,
					equalTo: "#password"
				},
				email:{
					required:true,
					email:true,
					remote: {
						url: "/admin/manager/user/isExist",
						type: "get",
						data: {
							username: function () {
								return $("#username").val();
							}
						}
					}
				},
				email2:{
					required:true,
					email:true,
					equalTo: "#email"
				}
			},
			messages : {
				email : {
					remote: "该用户名已经被注册！"
				}
			},
			onkeyup:false,
			focusCleanup:true,
			success:"valid",
			submitHandler:function(form){
				$(form).find(":submit").attr("disabled", true);
				$(form).ajaxSubmit({
					type: 'post',
					url: "/admin/manager/user",
					dataType:"json",
					success: function(data){
						if(data.status == "success"){
							succeedMessage(data.message);
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index);
						}else {
							$(form).find(":submit").attr("disabled", false);
							warningMessage(data.message);
						}
					}
				});
				return false; // 非常重要，如果是false，则表明是不跳转，在本页上处理，也就是ajax，如果是非false，则传统的form跳转。
			}
		});
	}
</script>
</html>