<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/common/common}">
<head>
    <title>SQL监控</title>
</head>

<body layout:fragment="content">

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页
    <span class="c-gray en">&gt;</span>系统管理 <span class="c-gray en">&gt;</span>
    SQl监控
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<iframe id="druidIframe" onload="reinitIframe()"  width="100%" height="100%" th:src="@{/admin/sys/monitor/druid/index.html}" frameborder="0"></iframe>

<script th:inline="javascript">
    function reinitIframe() {
        var iframe = document.getElementById("druidIframe");
        try {
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.max(bHeight, dHeight);
            iframe.height = height;
            console.log(height);
        } catch(ex) {}
    }
    window.setInterval("reinitIframe()", 200);
</script>

</body>
</html>