<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/common/common}">
<head>
	<title>添加敏感词列表</title>
</head>

<body layout:fragment="content">
<article class="page-container">
	<form class="form form-horizontal" id="form-sw-add" action="#">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>敏感词：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="word" name="word" />
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="sw_save_submit();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<script type="text/javascript">

$(function(){
	
	//表单验证
	$("#form-sw-add").validate({
		rules:{
			word:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			
		}
	});
});

function sw_save_submit(){

	if (! $("#form-sw-add").valid()) {
        return;
    }

	var word = $("#word").val();
	
	$.ajax({
		url : "/admin/sensitiveword/doAddSw",
		type : "POST",
		dataType:'json',
		data : {
			"word" : word
		},
		success : function(data) {
			alert("敏感词添加成功");
			var index = parent.layer.getFrameIndex(window.name);
			//parent.$('.btn-refresh').click();
			window.parent.location.reload();
			parent.layer.close(index);
		},
		error:function (XMLHttpRequest, textStatus, errorThrown) {
			alert("对不起，出现错误!");
            if(XMLHttpRequest.status == 403){
                layer_close();
                errorMessage('无权操作!');
            }else {
                errorMessage("系统错误!");
            }
        },
	});

}

function removeIframe(){
	var index = parent.layer.getFrameIndex(window.name);
	parent.layer.close(index);
}

</script>
</body>
</html>