<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/header :: css"></head>

<body>
<!--头部导航-->
<div class="header header_color header_shadow header_font_size" th:include="front/header :: header"></div>

	<!-- 下面的这一句意思是该页的导航定位在发现（find）页 data-tag="find" 与导航nav里面的行间属性对应-->

	<div class="page_tag" data-tag="find" style="display: none"></div>
	<div class="find_body container clearfix">
		<div class="find_l pl">
			<div class="first_find">
			  <div class="swiper-wrapper">
			    <div class="swiper-slide">
					<a href="find-detail.html">
						<img th:src="@{/front-img/test/first.png}">
						<p>张霞1：公益故事的转播需要激发公众的参与公益故事的转播需要激发公众的参与公益故事的转播需要激发公众的参与</p>
					</a>
			    </div>
			    <div class="swiper-slide">
			    	<a href="find-detail.html">
						<img th:src="@{/front-img/test/first.png}">
						<p>张霞2：公益故事的转播需要激发公众的参与公益故事的转播需要激发公众的参与公益故事的转播需要激发公众的参与</p>
					</a>
			    </div>
			    <div class="swiper-slide">
			    	<a href="find-detail.html">
						<img th:src="@{/front-img/test/first.png}">
						<p>张霞3：公益故事的转播需要激发公众的参与公益故事的转播需要激发公众的参与公益故事的转播需要激发公众的参与</p>
					</a>
			    </div>
			  </div>
			  <div class="pagination"></div>
			</div>
			<div class="find_title">
				<span class="active">最新文章</span>
				<span>故事</span>
				<span>新闻</span>
				<span>活动</span>
			</div>
			<div class="find_list">
				<div class="find_new">
					<ul>
						<div id="find_new_list">
							<li th:each="model:${pageInfo0.list}" th:object="${model}" class="list_item clearfix">
								<a href="">
									<img class="pl" th:src="*{image_filename}">
									<div class="font pl">
										<h3 th:text="*{title}"></h3>
										<div class="author_info clearfix">
											<span class="pl" th:text="*{summary}"></span>
										</div>
										<p></p>
										<div class="count clearfix">
											<span class="view_count">132</span>
											<span class="up_count">132</span>
										</div>
									</div>
								</a>
							</li>
						</div>
					</ul>
					<div >
					    <!--当前页码-->
					    <input type="hidden" th:value="${pageInfo0.pageNum}" th:name="pageNum0" id="pageNum0"/>
					    <!--总页数-->
					    <input type="hidden" th:value="${pageInfo0.pages}" id="pages0"/>
					    <div style="margin-top:15px; text-align:center;" id="page0"></div>
					</div>
				</div>
				<div class="find_story">
					<ul>
						<div id="find_story_list">
							<li th:each="model:${pageInfo1.list}" th:object="${model}" class="list_item clearfix">
								<a href="">
									<img class="pl" th:src="*{image_filename}">
									<div class="font pl">
										<h3 th:text="*{title}"></h3>
										<div class="author_info clearfix">
											<span class="pl" th:text="*{summary}"></span>
										</div>
										<p></p>
										<div class="count clearfix">
											<span class="view_count">132</span>
											<span class="up_count">132</span>
										</div>
									</div>
								</a>
							</li>
						</div>
					</ul>
					<div >
					    <!--当前页码-->
					    <input type="hidden" th:value="${pageInfo1.pageNum}" th:name="pageNum1" id="pageNum1"/>
					    <!--总页数-->
					    <input type="hidden" th:value="${pageInfo1.pages}" id="pages1"/>
					    <div style="margin-top:15px; text-align:center;" id="page1"></div>
					</div>
				</div>
				<div class="find_news">
					<ul>
						<div id="find_news_list">
							<li th:each="model:${pageInfo2.list}" th:object="${model}" class="list_item clearfix">
								<a href="">
									<img class="pl" th:src="*{image_filename}">
									<div class="font pl">
										<h3 th:text="*{title}"></h3>
										<div class="author_info clearfix">
											<span class="pl" th:text="*{summary}"></span>
										</div>
										<p></p>
										<div class="count clearfix">
											<span class="view_count">132</span>
											<span class="up_count">132</span>
										</div>
									</div>
								</a>
							</li>
						</div>
					</ul>
					<div >
					    <!--当前页码-->
					    <input type="hidden" th:value="${pageInfo2.pageNum}" th:name="pageNum2" id="pageNum2"/>
					    <!--总页数-->
					    <input type="hidden" th:value="${pageInfo2.pages}" id="pages2"/>
					    <div style="margin-top:15px; text-align:center;" id="page2"></div>
					</div>
				</div>
				<div class="find_action">
					<ul>
						<div id="find_action_list">
							<li th:each="model:${pageInfo3.list}" th:object="${model}" class="list_item clearfix">
								<a href="">
									<img class="pl" th:src="*{image_filename}">
									<div class="font pl">
										<h3 th:text="*{title}"></h3>
										<div class="author_info clearfix">
											<span class="pl" th:text="*{summary}"></span>
										</div>
										<p></p>
										<div class="count clearfix">
											<span class="view_count">132</span>
											<span class="up_count">132</span>
										</div>
									</div>
								</a>
							</li>
						</div>
					</ul>
					<div >
					    <!--当前页码-->
					    <input type="hidden" th:value="${pageInfo3.pageNum}" th:name="pageNum3" id="pageNum3"/>
					    <!--总页数-->
					    <input type="hidden" th:value="${pageInfo3.pages}" id="pages3"/>
					    <div style="margin-top:15px; text-align:center;" id="page3"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="find_r pr">
			<div class="focus_us">
				<p class="sub_title">关注我们</p>
				<div class="clearfix">
					<img class="pl focus_img" th:src="@{/front-img/focus.png}">
					<div class="pl in">
						<p>项目交流：12133</p>
						<p>客服答疑：12133</p>
						<p>项目合作：12133</p>
					</div>
				</div>
			</div>
			<div class="fresh_action">
				<p class="sub_title">最近活动</p>
				<a href="#">
					<img th:src="@{/front-img/fresh_action.png}">
				</a>
			</div>
			<div class="recommend">
				<p class="sub_title">为你推荐</p>
				<div class="project">
					<a href="#">
						<img th:src="@{/front-img/test/test1.png}">
						<div class="font">
							<h4>风车电力项目风车电力项目风车电力项目</h4>
							<p class="des">风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目风车电力项目。</p>
							<p class="from">北京风车发展基金会</p>
							<div class="count clearfix">
								<span class="pl">预计需要<em>2000</em><s>万</s></span>
								<span class="pr">已募集<em>1000</em><s>万</s></span>
							</div>	
							<div class="info">
								<span class="face">全国</span>
								<span class="address">北京中国</span>
							</div>
						</div>
						<div class="tip">
							<p>PEI100</p>
						</div>
					</a>
				</div>
			</div>	
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="f_t">
			<div class="container f_height">
				<h1 class="f_logo pl">
					<a href="/">
						<img th:src="@{/front-img/logo.png}">
					</a>
				</h1>
				<div class="pl f_center">
					<div class="f_c_1 clearfix">
						<a href="find.html">发现</a>
						<span>·</span>
						<a href="range.html">榜单</a>
						<span>·</span>
						<a href="about.html">关于我们</a>
						<span>·</span>
						<a href="employ.html">招贤纳士</a>
						<span>·</span>
						<a href="contact.html">联系我们</a>
					</div>
					<div class="f_c_2">
						<span class="w185">电话：021—36696011</span>
						<span>地址：上海市浦东新区樱花路868号</span>
					</div>
					<div class="f_c_3">
						<span class="w185">邮箱：gq@jkinvest.cn</span>
						<span>建工大唐国际A座22楼</span>
					</div>
				</div>
				<img th:src="@{/front-img/guoqian.png}" class="pr code">
			</div>	
		</div>
		<p class="copyright">Copyright@2017 国乾战略资本（沪ICP备  00000000  |  Powered by Cronvs.</p>
	</div>

</body>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">

	var mySwiper = new Swiper('.first_find', {
		autoplay: 3000,//可选选项，自动滑动
		pagination: '.pagination',
		paginationClickable: true,
		preventClicks : false
	});
  
  //分页器
  laypage({
      cont: 'page0', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
      pages: $("#pages0").val(), //通过后台拿到的总页数
      curr: $("#pageNum0").val(), //当前页
      jump: function(obj, first){ //触发分页后的回调
        if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
        	changepage(obj.curr,0);
        }
      }
    });

  laypage({
      cont: 'page1', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
      pages: $("#pages1").val(), //通过后台拿到的总页数
      curr: $("#pageNum1").val(), //当前页
      jump: function(obj, first){ //触发分页后的回调
        if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
          changepage(obj.curr,1);
        }
      }
    });
  
  laypage({
      cont: 'page2', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
      pages: $("#pages2").val(), //通过后台拿到的总页数
      curr: $("#pageNum2").val(), //当前页
      jump: function(obj, first){ //触发分页后的回调
        if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
        	changepage(obj.curr,2);
        }
      }
    });
  
  laypage({
      cont: 'page3', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
      pages: $("#pages3").val(), //通过后台拿到的总页数
      curr: $("#pageNum3").val(), //当前页
      jump: function(obj, first){ //触发分页后的回调
        if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
        	changepage(obj.curr,3);
        }
      }
    });
		  
    //分页拼接ajax
	function changepage(curr,type){
		  $.getJSON('/front/find/list_page', {
			  pageNum : curr,
			  pagetype : type
		  }, function(res){

			var html = '';
			for(var i=0;i<res.pageInfo.list.length;i++){
				html += '<li class="list_item clearfix">';
				html += '<a href="">';
				html += '<img class="pl" src="' + res.pageInfo.list[i].image_filename +  '">';
				html += '<div class="font pl">';
				html += '<h3>' + res.pageInfo.list[i].title +  '</h3>';
				html += '<div class="author_info clearfix">';
				html += '<span class="pl">' + res.pageInfo.list[i].summary +  '</span>';
				html += '</div>';
				html += '<p></p>';
				html += '<div class="count clearfix">';
				html += '<span class="view_count">132</span>';
				html += '<span class="up_count">132</span>';
				html += '</div>';
				html += '</div>';
				html += '</a>';
				html += '</li>';
			}

			if(type == 0){
				$("#find_new_list").html(html)
			} else if(type == 1){
				$("#find_story_list").html(html)
			} else if(type == 2){
				$("#find_news_list").html(html)
			} else if(type == 3){
				$("#find_action_list").html(html)
			}
		    

	   });
	};

</script>
</html>