<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.ArticleMapper">
 <resultMap type="com.jk.model.Article" id="BaseMap">
 	<result column="type_id" property="type_id" jdbcType="INTEGER"/>
 	<result column="title" property="title" jdbcType="VARCHAR"/>
 	<result column="author" property="author" jdbcType="VARCHAR"/>
 	<result column="content" property="content" jdbcType="VARCHAR"/>
 	<result column="keywords" property="keywords" jdbcType="VARCHAR"/>
 	<result column="read_count" property="read_count" jdbcType="INTEGER"/>
 	<result column="image_filename" property="image_filename" jdbcType="VARCHAR"/>
 	<result column="location_pc" property="location_pc" jdbcType="INTEGER"/>
 	<result column="start_show_time" property="start_show_time" jdbcType="TIMESTAMP"/>
 	<result column="summary" property="summary" jdbcType="VARCHAR"/>
 	<result column="is_use" property="is_use" jdbcType="INTEGER"/>
 	<result column="order_number" property="order_number" jdbcType="INTEGER"/>
 	<result column="time" property="time" jdbcType="TIMESTAMP"/>
 	<result column="name" property="name" jdbcType="VARCHAR"/>
 	<result column="description" property="description" jdbcType="VARCHAR"/>
 	<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
 	<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
 </resultMap>
 
  <select id="articleList" resultMap="BaseMap" parameterType="map">
	  select tatype.name, tatype.description, ta.* from t_article ta left join t_article_types tatype on ta.type_id = tatype.id
	  <where> 
	      1=1
		  <if test="findtext != null and findtext!=''">
		       and tatype.name like '%${findtext}%' or ta.title like '%${findtext}%'
		  </if> 
		  <if test="articletype != null">
		       and ta.type_id in
               <foreach item="item" index="index" collection="articletype" 
                    open="(" separator="," close=")">
                    #{item}
               </foreach>
		  </if> 
		  <if test="is_use != null and is_use!=''">
		       and ta.is_use = ${is_use}
		  </if> 
	  </where>
	  order by ${ordertype} ${ordervalue}
  </select>

</mapper>