<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.ArticleTypesMapper">
 <resultMap type="com.jk.model.ArticleTypes" id="BaseMap">
 	<result column="id" property="id" jdbcType="BIGINT"/>
 	<result column="name" property="name" jdbcType="VARCHAR"/>
 	<result column="description" property="description" jdbcType="VARCHAR"/>
 	<result column="order_number" property="order_number" jdbcType="INTEGER"/>
 	<result column="status" property="status" jdbcType="INTEGER"/>
 	<result column="parent_id" property="parent_id" jdbcType="BIGINT"/>
 </resultMap>
 
  <select id="articletypesList" resultMap="BaseMap" parameterType="Long">
	  select * from t_article_types where parent_id = #{parentid} order by order_number
  </select>
  
   <select id="childtypesList" resultMap="BaseMap" parameterType="Long">
		select * from t_article_types where parent_id in( select parent_id from t_article_types where id= #{id})
  </select>
 
</mapper>