<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.ProjectMapper">
 <resultMap type="com.jk.model.Project" id="BaseMap">
 	<result column="id" property="id" jdbcType="BIGINT"/>
 	<result column="project_name" property="projectName" jdbcType="VARCHAR"/>
 	<result column="project_picture" property="projectPicture" jdbcType="VARCHAR"/>
 	<result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
 	<result column="project_lead" property="projectLead" jdbcType="VARCHAR"/>
 	<result column="city_id" property="cityId" jdbcType="BIGINT"/>
 	<!-- 以下6条，为钱和用户关联属性 -->
 	<result column="project_capital" property="projectCapital" jdbcType="BIGINT"/>
 	<result column="raised_funds" property="raisedFunds" jdbcType="BIGINT"/>
 	<result column="cash_withdrawal" property="cashWithdrawal" jdbcType="BIGINT"/>
 	<result column="good_user_id" property="goodUserId" jdbcType="BIGINT"/>
 	<result column="user_name" property="userName" jdbcType="VARCHAR"/>
 	<result column="authentication_name" property="authenticationName" jdbcType="VARCHAR"/>
 	
 	<result column="industry_id" property="industryId" jdbcType="BIGINT"/>
 	<result column="score" property="score" jdbcType="DECIMAL"/>
 	<result column="project_partner" property="projectPartner" jdbcType="VARCHAR"/>
 	<result column="status" property="status" jdbcType="INTEGER"/>
 	<result column="admin_status" property="adminStatus" jdbcType="INTEGER"/>
 	<result column="sort" property="sort" jdbcType="INTEGER"/>
 	<result column="project_type" property="projectType" jdbcType="INTEGER"/>
 	<result column="is_score" property="isScore" jdbcType="INTEGER"/>
 	<result column="create_time" property="createTime" jdbcType="DATE"/>
 	<result column="modify_time" property="modifyTime" jdbcType="DATE"/>
 	<result column="fail_reasion" property="failReasion" jdbcType="VARCHAR"/>	
 	<result column="earnings" property="earnings" jdbcType="VARCHAR"/>
 	<result column="begin_time" property="beginTime" jdbcType="DATE"/>
 	<result column="end_time" property="endTime" jdbcType="DATE"/>
 	<result column="income_group_description" property="incomeGroupDescription" jdbcType="VARCHAR"/>
 	<result column="project_requiredment_analysis" property="projectRequiredmentAnalysis" jdbcType="VARCHAR"/>
 	<result column="full_time_number" property="fullTimeNumber" jdbcType="BIGINT"/>
 	<result column="part_time_number" property="partTimeNumber" jdbcType="BIGINT"/>
 	<result column="volunteer_number" property="volunteerNumber" jdbcType="BIGINT"/>
 	<result column="project_objectives" property="projectObjectives" jdbcType="VARCHAR"/>
 	<result column="project_design_road_one" property="projectDesignRoadOne" jdbcType="VARCHAR"/>
 	<result column="project_design_road_two" property="projectDesignRoadTwo" jdbcType="VARCHAR"/>
 	<result column="project_design_road_three" property="projectDesignRoadThree" jdbcType="VARCHAR"/>
 	<result column="expected_results_one" property="expectedResultsOne" jdbcType="VARCHAR"/>
 	<result column="expected_results_two" property="expectedResultsTwo" jdbcType="VARCHAR"/>
 	<result column="expected_results_three" property="expectedResultsThree" jdbcType="VARCHAR"/> 	
 </resultMap>
 
 <resultMap type="com.jk.model.Industry" id="IndustyMap">
  	<result column="id" property="id" jdbcType="BIGINT"/>
 	<result column="industry_name" property="industryName" jdbcType="VARCHAR"/>
 </resultMap>
 
 <sql id="Base_list_column">
 	id,
 	project_name,
 	project_picture,
 	project_lead,
 	project_capital,
 	raised_funds,
 	cash_withdrawal,
 	project_partner,
 	create_time,
 	modify_time,
 	status,
 	project_number,
 	admin_status,
 	industry_id,
 	score,
 	sort,
 	project_type,
 	fail_reasion,
 	city_id,
 	earnings,
 	begin_time,
 	end_time,
 	income_group_description,
 	project_requiredment_analysis,
 	full_time_number,
 	part_time_number,
 	volunteer_number,
 	project_objectives,
 	project_design_road_one,
 	project_design_road_two,
 	project_design_road_three,
 	expected_results_one,
 	expected_results_two,
 	expected_results_three,
 	is_score,
 	good_user_id,
 	user_name,
 	authentication_name
 </sql> 
 
 <sql id="Base_set_column">
 	<set>
 		<if test="userName!=null and userName!=''">
 			user_name=#{userName},
 		</if>
 		<if test="authenticationName!=null and authenticationName!=''">
 			authentication_name=#{authenticationName},
 		</if>
 		<if test="projectName!=null and projectName!=''">
 			project_name=#{projectName},
 		</if>
 		<if test="projectPicture!=null and projectPicture!=''">
 			project_picture=#{projectPicture},
 		</if>
 		<if test="projectNumber!=null and projectNumber!=''">
 			project_number=#{projectNumber},
 		</if>
 		<if test="projectLead!=null and projectLead!=''">
 			project_lead=#{projectLead},
 		</if>
 		<if test="industryId!=null and industryId!=''">
 			industry_id=#{industryId},
 		</if>
 		<if test="cityId!=null and cityId!=''">
 			city_id=#{cityId},
 		</if>
 		<if test="projectCapital!=null and projectCapital!=''">
 			project_capital=#{projectCapital},
 		</if>
 		<if test="raisedFunds!=null and raisedFunds!=''">
 			raised_funds=#{raisedFunds},
 		</if>
 		<if test="cashWithdrawal!=null and cashWithdrawal!=''">
 			cash_withdrawal=#{cashWithdrawal},
 		</if>
 		<if test="earnings!=null and earnings!=''">
 			earnings=#{earnings},
 		</if>
 		<if test="projectPartner!=null and projectPartner!=''">
 			project_partner=#{projectPartner},
 		</if>
 		<if test="beginTime!=null">
 			begin_time=#{beginTime},
 		</if>
 		<if test="endTime!=null">
 			end_time=#{endTime},
 		</if>
 		<if test="incomeGroupDescription!=null and incomeGroupDescription!=''">
 			income_group_description=#{incomeGroupDescription},
 		</if>
 		<if test="projectRequiredmentAnalysis!=null and projectRequiredmentAnalysis!=''">
 			project_requiredment_analysis=#{projectRequiredmentAnalysis},
 		</if>
 		<if test="fullTimeNumber!=null and fullTimeNumber!=''">
 			full_time_number=#{fullTimeNumber},
 		</if>
 		<if test="partTimeNumber!=null and partTimeNumber!=''">
 			part_time_number=#{partTimeNumber},
 		</if>
 		<if test="volunteerNumber!=null and volunteerNumber!=''">
 			volunteer_number=#{volunteerNumber},
 		</if>
 		<if test="projectObjectives1=null and projectObjectives!=''">
 			project_objectives=#{projectObjectives},
 		</if>
 		<if test="projectDesignRoadOne!=null and projectDesignRoadOne!=''">
 			project_design_road_one=#{projectDesignRoadOne},
 		</if>
 		<if test="projectDesignRoadTwo!=null and projectDesignRoadTwo!=''">
 			project_design_road_two=#{projectDesignRoadTwo},
 		</if>
 		<if test="projectDesignRoadThree!=null and projectDesignRoadThree!=''">
 			project_design_road_three=#{projectDesignRoadThree},
 		</if>
 		<if test="expectedResultsOne!=null and expectedResultsOne!=''">
 			expected_results_one=#{expectedResultsOne},
 		</if>
 		<if test="expectedResultsTwo!=null and expectedResultsTwo!=''">
 			expected_results_two=#{expectedResultsTwo},
 		</if>
 		<if test="expectedResultsThree!=null and expectedResultsThree!=''">
 			expected_results_three=#{expectedResultsThree},
 		</if>
 		<if test="status!=null and status!=''">
 			status=#{status},
 		</if>
 		<if test="adminStatus!=null and adminStatus!=''">
 			admin_status=#{adminStatus},
 		</if>
 		<if test="score!=null and score!=''">
 			score=#{score},
 		</if>
 		<if test="sort!=null and sort!=''">
 			sort=#{sort},
 		</if>
 		<if test="failReasion!=null and failReasion!=''">
 			fail_reasion=#{failReasion},
 		</if>
 		<if test="projectType!=null and projectType!=''">
 			project_type=#{projectType},
 		</if>
 		<if test="createTime!=null">
 			create_time=#{createTime},
 		</if>
 		<if test="modifyTime!=null">
 			modify_time=#{modifyTime},
 		</if>		
 		<if test="isScore!=null and isScore!=''">
 			is_score=#{isScore},
 		</if>
 		<if test="goodUserId!=null and goodUserId1=''">
 			good_user_id=#{goodUserId},
 		</if>
 	</set>
 </sql>
 
 
  <!--分页查询 -->
  <select id="projectList" resultMap="BaseMap" parameterType="map">
  		select <include refid="Base_list_column"/> 
  		from t_project
	  	<where>
		    <if test="is_score!=null">
		    	is_score=#{is_score}
		    </if>
		    <if test="project_name != null and project_name!=''">
<!-- 		    and  project_name like '%${project_name}%' -->
<!-- 		    and project_name like "%"#{project_name}"%" -->
		        and project_name like  CONCAT('%',#{project_name},'%')  
		    </if> 
		    <if test="userName!=null and userName!=''">
		    	and user_name like CONCAT('%',#{userName},'%')  
		    </if>
		    <if test="authenticationName!=null and authenticationName!=''">
		    	and authentication_name like CONCAT('%',#{authenticationName},'%')
		    </if>
		    <if test="create_time != null and create_time!=''">
		        AND create_time &gt;= #{create_time}
		    </if>
		    <if test="end_time!=null and end_time!=''">
		    	AND create_time &lt;= #{end_time}
		    </if>
			<if test="goodUserId != null">
				AND good_user_id = #{goodUserId}
			</if>
	  </where>  	
  </select>
  <!-- 删除项目 -->
  <delete id="projectDelete" parameterType="long">
  	delete from t_project where id=#{_parameter}
  </delete>
  <!-- 修改启用状态 -->
  <update id="projectUpdateAdminStatus" parameterType="map">
  update t_project set  admin_status=#{admin_status} where id=#{id}  
  </update>
  <!-- 通过主键id，查询对象 -->
  <select id="findById" parameterType="long" resultMap="BaseMap">
  	select <include refid="Base_list_column"/> from t_project where id=#{id}
  </select>
  <!-- 查询出所有的项目类别 -->
  <select id="findAllIndustry" resultMap="IndustyMap">
  select id,industry_name from t_industry
  </select>
  <!-- 审核 -->
  <update id="checkProjectStatus"  parameterType="map">
  		update t_project set  status=#{status},fail_reasion=#{fail_reasion} where id=#{id}
  </update>
  <!-- 编辑保存 -->
  <update id="updateProject" parameterType="com.jk.model.Project">
  		update t_project <include refid="Base_set_column"/>  where id=#{id} 
  </update>
</mapper>