<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.ProjectMilepostMapper">
	 <resultMap type="com.jk.model.ProjectMilepost" id="BaseMap">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="project_id" property="projectId" jdbcType="BIGINT"/>
		<result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
		<result column="project_name" property="projectName" jdbcType="VARCHAR"/>
		<result column="img_codes" property="imgCodes" jdbcType="VARCHAR"/>
		<result column="contents" property="contents" jdbcType="VARCHAR"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="DATE"/>
		<result column="modify_time" property="modifyTime" jdbcType="DATE"/>			
	</resultMap>	
	<sql id="BaseColumn">
		id,project_id,project_number,project_name,img_codes,contents,create_time,modify_time,title
	</sql>	
	
	<select id="findProjectMilepostListByProjectId" resultMap="BaseMap" parameterType="long">
		select <include refid="BaseColumn"/> from t_project_milepost  where project_id=#{projectId}  order by create_time desc 
	</select>
	
	<select id="findByProjectMilepostId" parameterType="long" resultMap="BaseMap">
		 select <include refid="BaseColumn"/> from 	t_project_milepost where id=#{id}
	</select>
</mapper>