<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.SensitiveWordMapper">
 <resultMap type="com.jk.model.SensitiveWord" id="BaseMap">
 	<result column="version" property="version" jdbcType="BIGINT"/>
 	<result column="word" property="word" jdbcType="VARCHAR"/>
 	<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
 	<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
 </resultMap>
 
  <select id="swList" resultMap="BaseMap" parameterType="map">
	  select id, word, create_time, modify_time, version from t_sensitive_word
	  <where> 
	  	  1=1
		  <if test="findtext != null and findtext!=''">
		       and word like '%${findtext}%'
		  </if> 
	  </where>
	  order by id asc
	  
  </select>
  
</mapper>
