<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.UserCommentMapper">
	<resultMap type="com.jk.model.UserComment" id="BaseMap">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="project_id" property="projectId" jdbcType="BIGINT"/>
		<result column="user_id" property="userId" jdbcType="BIGINT"/>
		<result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
		<result column="project_name" property="projectName" jdbcType="VARCHAR"/>
		<result column="user_name" property="username" jdbcType="VARCHAR"/>
		<result column="contents" property="contents" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="DATE"/>
		<result column="modify_time" property="modifyTime" jdbcType="DATE"/>
	</resultMap>
	<sql id="BaseColumn">
		id,project_id,user_id,project_number,project_name,user_name,contents,create_time,modify_time
	</sql>
	
	
	
	<select id="selectAllByProjectId" parameterType="long" resultMap="BaseMap">
			select <include refid="BaseColumn"/> from t_user_comment where project_id=#{projectId}
<!--  	
		select * FROM(select a.id as id,b.id as project_id,c.id as user_id,b.project_number as project_number,b.project_name as project_name,
		c.username as user_name, a.contents as contents,a.create_time as create_time,a.modify_time as modify_time  from  t_user_comment as a left join t_project as b  on  a.project_id=b.id 
		left join t_user c on a.user_id=c.id) as d where d.project_id=1	
-->				
	</select>
</mapper>