<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/header :: css"></head>
<body>
<!--头部导航-->
<div class="header header_color header_shadow header_font_size" th:include="front/header :: header"></div>
	<div class="page_tag" data-tag="create" style="display: none"></div>
	<div class="create_step">
		<div class="step_title">
			<ul class="step_center">
				<li class="first"><p class="active">1.基本信息</p></li>
				<li><p>2.实施和评估</p></li>
				<li><p>3.确认验证信息</p></li>
				<li><p>4.预览确认</p></li>
				<li><p>5.审核(3工作日)</p></li>
			</ul>
			<p>从项目的基本信息开始，包括名称，分类，地域，预计受益人数等。</p>
		</div>
		<div class="step_form container">
			<form  id="project-create-step1">
				<div class="form_group clearfix">
					<span class="pl">项目图片</span>
					<div class="pl">
						<label class="upload_img">
							<img th:src="@{/front-img/upload_img.png}" alt="" id="img"/>
							<input type="file" hidden="hidden" name="imgFile" id="imgFile"   onchange="uploadImage('imgFile','img');"/>
							<input type="hidden" name="projectPicture" id="projectPicture"/>
						</label>
						<p>图片格式限定：JPEG,PNG或GIF。 建议尺寸：560x420像素，文件大小不超过500KB。</p>
					</div>
				</div>
				<div class="form_group clearfix">
					<span class="pl">项目名称</span>
					<div class="pl">
						<div class="input_box clearfix">
						<!-- 下面的input标签限制为20个字 行间属性data-limit="20"进行控制 对应的字数显示在下放的p标签内 注意p标签与input标签同级-->
							<input type="text" data-must="true" placeholder="给你的项目取个合适的名字" data-limit="20" name="projectName" id="projectName"/>
							<p class="pr">20/20</p>
						</div>
						<p>您的项目名称应简单、 具体，且易于记忆。您的项目名称会被用于关键字检索。</p>
					</div>
				</div>
				<div class="form_group clearfix">
					<span class="pl">项目导语</span>
					<div class="pl">
						<div class="input_box clearfix">
							<input type="text" data-must="true" id="projectLead"  name="projectLead"  data-limit="80" placeholder="用一句话介绍你的项目"/>
							<p class="pr">80/80</p>
						</div>
						<p>只用一句话介绍你的项目</p>
					</div>
				</div>
				<div class="form_group clearfix">
					<span class="pl">项目分类</span>
					<div class="pl clearfix w242">
						<select class="form_m_width" name="industryId" id="industryId">
							<option value="">全部</option>
							<th:block th:each="industry:${industryList}" th:object="${industry}">
							<option  th:value="*{id}" th:text="*{industryName}">环境保护</option>
							</th:block>
						</select>
					</div>
				</div>
				<div class="form_group clearfix">
					<span class="pl">项目地域</span>
					<div class="pl clearfix w242">
<!-- 						<select class=""> -->
<!-- 							<option>选择省市</option> -->
<!-- 						</select> -->
						
						<select class=" form_m_width select_gallery" id="cityId" name="cityId">		           	  
			           	  <th:block  th:each="parentArea:${areaParentList}">
			            		<optgroup th:label="${parentArea.areaName}">
				          			<th:block th:each="childArea:${areaChildList}">
				          				<option  th:if="${parentArea.id==childArea.parentId}"  th:value="${childArea.id}" th:text="${childArea.areaName}"></option>
				          			</th:block>   
				           		</optgroup>							           	  
		           	  	  </th:block>
						</select> 
						
						
					</div>
				</div>
				<div class="form_group clearfix">
					<span class="pl">预计需要金额￥</span>
					<div class="pl clearfix" style="width: 242px">
						<div class="form_m_width">
							<input type="text" data-must="true" class="" name="projectCapital" id="projectCapital"  maxlength="10" placeholder="请输入项目预计金额￥"/>
						</div>
						<p>根据项目实际情况预估并填写金额</p>
					</div>
				</div>
				<div class="form_group clearfix">
					<span class="pl">预计收益人数</span>
					<div class="pl clearfix" style="width: 242px">
						<div class="form_m_width">
							<input type="text" data-must="true" class="" name="earnings" id="earnings" maxlength="6" placeholder="请输入预计收益人数"/>
						</div>
						<p>根据项目设计覆盖的收益人数预估</p>
					</div>
				</div>
				<div class="form_group clearfix add_to_three">
					<span class="pl">项目伙伴</span>
					<div class="pl clearfix" style="width: 242px" id="step1_partner">
						<div class="form_m_width">
							<input type="text" data-must="true" class="aaa" name="projectPartner" id="projectPartner" placeholder="必填" maxlength="30"/>
						</div>
						<p>根据项目设计覆盖的收益人数预估</p>
					</div>
					<em class="add">添加</em>
				</div>
				<button class="step_btn1">下一步</button>
<!-- 				<a href="javascript:;"  th:href="'javascript:checkProjectCreateStep1();'" class="step_btn1">下一步</a> -->
			
			<input type="hidden" name="projectType" id="projectType" th:value="${projectType}"/>
			</form>
		</div>
	</div>
	<!-- footer -->
	<div th:replace="front/footer :: footer"></div>
	<!-- 弹出框 -->
	<div class="home_alert" id="home_alert"></div>
	<script th:src="@{/js/front/project/project-create-step1.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/h-ui/lib/ajaxfileupload.js}"></script>
	<script type="text/javascript" th:src="@{/h-ui/lib/select2/select2.min.js}"></script>
	<script type="text/javascript" th:src="@{/h-ui/lib/select2/zh-CN.js}"></script>
</body>
<script type="text/javascript">
$(function(){ 
	$(".select_gallery").select2({
	placeholder: "请选择",
    language: "zh-CN"
	}); 
}); 
/**
 * 上传图片
 * @param fileElementId
 * @param imageElementId
 */
function uploadImage(fileElementId, imageElementId) {
	var path = $("#" + fileElementId).val();	
	if(path == "") {
		errorMessage("请选择上传的图片",2000);
		return;
	}
	if (!isImageFile(path)) {
		errorMessage("请上传图片",2000);
		return;
	}
	jQuery.ajaxFileUpload({
		url : "/upload/uploadimage",
		secureuri : false,
		fileElementId : fileElementId,
		dataType : 'text',
		success : function(data) {
			var data = eval('(' + data + ')'); 
			if (data.error > 0) {
				$("#" + imageElementId).attr("src", "");
				$("#projectPicture").val("");				
				errorMessage(data.message,2000);
				return;
			}else{
				succeedMessage("图片上传成功",2000);
				$("#" + imageElementId).attr("src", data.dataurl);
				$("#projectPicture").val(data.dataurl);
				$("#projectPicture-error").hide();
			}
		},
		error : function(data, status, e) {
			alert("上传图片失败");
		}
	})
}
/**
 * 根据扩展名判断是否为图片
 */
function isImageFile(path) {
	if (path.length == 0) {
		return false;
	}
	var lowerPath = path.toLowerCase();
	var number = lowerPath.lastIndexOf(".");
	if(number == -1) 
		return false;
    var checkKey = lowerPath.substring(number+1,lowerPath.length);
   if(checkKey == "jpg" || checkKey =="jpeg"  || checkKey =="png" || checkKey == "gif" ) {
	    return true;
	}
	if(path.fileSize > 100 * 1024){
		alert(1);
	}
	return false;
}


</script>
</html>