<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/header :: css"></head>
<body style="background: #fff">
<!--头部导航-->
<div class="header header_color header_shadow header_font_size" th:include="front/header :: header"></div>

	<div class="page_tag" data-tag="create" style="display: none"></div>
	<div class="create_body container">
		<h4>需要你根据自己的项目类型选择发起方式</h4>
		<form>
			<div class="clearfix">
				<label class="company pl"    th:classappend="!${goodUser.teamAuthed}? 'disabled'">
					<div class="pic"></div>
					<div class="radio clearfix">
						<em class="pl"></em>
						<p class="pl">机构项目</p>
					</div>
					<input type="radio" hidden="hidden" name="projectType"   th:disabled="!${goodUser.teamAuthed}"  value="2"/>
				</label>
				<!-- 当该类型不支持时 加 disabled 类名 里面的input标签加disabled属性 如下-->
				<label class="personal pr"   th:classappend="!${goodUser.personAuthed}? 'disabled'">
					<div class="pic"></div>
					<div class="radio clearfix">
						<em class="pl"></em>
						<p class="pl">个人项目</p>
					</div>
					<input type="radio" hidden="hidden" name="projectType"   th:disabled="!${goodUser.personAuthed}" value="1"/>
				</label>
			</div>
			<label class="law clearfix">
				<em class="pl"></em>
				<p class="pl">我已阅读并同意平台项目所有协议，详细请参考“关于我们”</p>
				<input type="checkbox" hidden="hidden" checked="checked" name=""/>
			</label>	
			<!-- <button class="create_btn1">马上新建</button> -->
			<a href="javascript:;" th:href="'javascript:project_create_check();'"  class="create_btn1">马上新建</a>
		</form>
	</div>
	<!-- footer -->
	<div th:replace="front/footer :: footer"></div>
	<!-- 弹出框 -->
	<div class="home_alert" id="home_alert"></div>
	<script th:src="@{/js/front/project/project-create.js}" ></script>
</body>
</html>